﻿@{
    ViewBag.Title = "Statystyki - Wejścia do klubu według godziny wejścia";
}

<h2>Statystyki (wejścia do klubu według godziny wejścia)</h2>
<hr />

<div id="dailyAmountTypesOfSales">
    @{ Html.RenderPartial("_DailyRegisteredEntriesByEntryTimeGraph"); }
</div>

<div id="monthlyAmountTypesOfSales">
    @{ Html.RenderPartial("_MonthlyRegisteredEntriesByEntryTimeGraph"); }
</div>

<div id="annualAmountTypesOfSales">
    @{ Html.RenderPartial("_AnnualRegisteredEntriesByEntryTimeGraph"); }
</div>

<div class="py-4"></div>
