﻿<div class="container-fluid my-3">
    <div class="row">
        <form class="form-inline w-100">
            <div class="col-2">
                <input id="txtAllID" type="number" min="1" placeholder="ID..." class="w-100 form-control mb-2 mr-sm-2 mb-sm-0" />
            </div>
            <div class="col">
                <input id="txtAllName" type="text" placeholder="Imię i nazwisko..." class="w-100 form-control mb-2 mr-sm-2 mb-sm-0" />
            </div>
            <div class="col">
                <input id="txtAllEmail" type="text" placeholder="Email..." class="w-100 form-control mb-2 mr-sm-2 mb-sm-0" />
            </div>
            <div class="col-auto h-100">
                <button id="btnAllSearch" type="button" class="h-100 btn btn-light btn-lg fa-lg fas fa-search"></button>
            </div>
            <div class="col-auto h-100">
                <button id="btnAllClear" type="button" class="h-100 btn btn-light btn-lg fa-lg fas fa-times"></button>
            </div>
        </form>

    </div>
    <div class="row mt-3">
        <div class="col-12">
            <table id="gridAll"></table>
        </div>
    </div>
</div>

<div id="dialogAll" style="display: none">
    <div data-role="body">
        <span id="dialogAllTxt"></span>
        <input hidden id="removeID" />
    </div>
    <div data-role="footer">
        <button type="button" id="btnDelete" class="btn btn-primary float-right">Usuń</button>
    </div>
</div>

<div class="modal fade" id="modalEntryForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="contentEditDialog"></div>
    </div>
</div>
</div>

<script type="text/javascript">
        var gridAll, dialogAll;

        function Remove(e) {
            $('#removeID').val(e.data.id);
            $('#dialogAllTxt').text('Czy na pewno chcesz usunąć wpis?');
            dialogAll.open('Usunięcie wpisu użytkownika ' + e.data.record.FirstName + ' ' + e.data.record.LastName);
        }

        function Edit(e) {
            $.get("@Url.Action("EditEntry")", {
                    entryID: e.data.id
                },
                function (data) {
                    $("#exampleModalLabel").text('Edycja wpisu użytkownika ' + e.data.record.FirstName + ' ' + e.data.record.LastName);
                    $("#contentEditDialog").html(data);
                    $.validator.unobtrusive.parse("#entryForm");
                    $('#modalEntryForm').modal({ backdrop: 'static', keyboard: false });
                });
        }

        $(document).ready(function () {
            gridAll = $('#gridAll').grid({
                primaryKey: 'EntryID',
                dataSource: '@Url.Action("GetAllEntries", "Entry", new { area = "Management" })',
                uiLibrary: 'bootstrap4',
                columns: [
                    { field: 'UserID', title: 'ID', sortable: true, width: 60 },
                    { field: 'FirstName', title: 'Imię', sortable: true },
                    { field: 'LastName', title: 'Nazwisko', sortable: true },
                    { field: 'Email', title: 'E-mail', sortable: true },
                    { field: 'StartDate', title: 'Data wejścia', sortable: true, type: 'date', format: 'dd.mm.yyyy HH:MM' },
                    { field: 'EndDate', title: 'Data wyjścia', sortable: true, type: 'date', format: 'dd.mm.yyyy HH:MM' },
                    { title: '', field: 'Edit', width: 64, align: 'center', type: 'icon', icon: 'btn btn-primary btn-xs fa-xs fas fa-edit', tooltip: 'Edytuj', events: { 'click': Edit } },
                    { title: '', field: 'Remove', width: 60, align: 'center', type: 'icon', icon: 'btn btn-danger btn-xs fa-xs fas fa-trash-alt', tooltip: 'Usuń', events: { 'click': Remove } }
                    ],
                pager: { limit: 10 }
            });

            gridAll.on('cellDataBound', function (e, $displayEl, id, column, record) {
                if ('EndDate' === column.field && record.EndDate === "") {
                    $displayEl.html("<i class='text-secondary'>Nie zarejestrowano</i>");
                }
            });

            dialogAll = $('#dialogAll').dialog({
                autoOpen: false,
                resizable: false,
                uiLibrary: 'bootstrap4',
                modal: true,
                width: 600,
                height: 230,
                draggable: false
            });

            $('#btnDelete').on('click', function () {
                var record = {
                    entryID: $('#removeID').val()
                };
                $.ajax({
                        url: '@Url.Action("RemoveEntry", "Entry", new { area = "Management" })',
                        data: record,
                        method: 'POST'
                    })
                    .done(function () {
                        grid.reload();
                        gridFinish.reload();
                        gridAll.reload();
                        dialogAll.close();
                    });
            });

            $('#btnAllSearch').on('click', function () {
                gridAll.reload({ page: 1, name: $('#txtAllName').val(), email: $('#txtAllEmail').val(), id: $('#txtAllID').val() });
            });

            $('#btnAllClear').on('click', function () {
                $('#txtAllName').val('');
                $('#txtAllEmail').val('');
                $('#txtAllID').val('');
                gridAll.reload({ name: '', email: '', id: '' });
            });
        });
</script>

