﻿@model FitnessClubApp.Web.Areas.Management.ViewModels.EditEntryViewModel

@using (Ajax.BeginForm("EditEntry", new { },
    new AjaxOptions() { HttpMethod = "POST", OnFailure = "entryFormOnFailure", OnSuccess = "successEntryForm" }, new { id = "entryForm" }))
{
    <div class="modal-body">
        @Html.HiddenFor(model => model.EntryID)

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, "Data wejścia")
            <div class="input-group date mb-1" id="entry-start-date-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.StartDate, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#entry-start-date-picker",
                        placeholder = "Data wejścia",
                    }
                })
                <div class="input-group-append" data-target="#entry-start-date-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.StartDate, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, "Data wyjścia")
            <div class="input-group date mb-1" id="entry-end-date-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.EndDate, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#entry-end-date-picker",
                        placeholder = "Data wyjścia",
                    }
                })
                <div class="input-group-append" data-target="#entry-end-date-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.EndDate, string.Empty, new { @class = "text-danger" })
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </div>
}

<script>
    $('#entry-start-date-picker').datetimepicker({
        locale: 'pl',
        icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar-alt'
        },
        minDate: '2017-01-01'
    });

    $('#entry-end-date-picker').datetimepicker({
        locale: 'pl',
        icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar-alt'
        },
        minDate: '2017-01-01'
    });

    function entryFormOnFailure(e) {
        var html = e.responseText;
        $('#contentEditDialog').html(html);
        $.validator.unobtrusive.parse("#entryForm");
    }

    function successEntryForm(e) {
        grid.reload();
        gridFinish.reload();
        gridAll.reload();
        $('#modalEntryForm').modal('hide');
    }
</script>

