﻿<div class="container-fluid my-3">
    <div class="row">
        <form class="form-inline w-100">
            <div class="col-2">
                <input id="txtID" type="number" min="1" placeholder="ID..." class="w-100 form-control mb-2 mr-sm-2 mb-sm-0" />
            </div>
            <div class="col">
                <input id="txtName" type="text" placeholder="Imię i nazwisko..." class="w-100 form-control mb-2 mr-sm-2 mb-sm-0" />
            </div>
            <div class="col">
                <input id="txtEmail" type="text" placeholder="Email..." class="w-100 form-control mb-2 mr-sm-2 mb-sm-0" />
            </div>
            <div class="col-auto h-100">
                <button id="btnSearch" type="button" class="h-100 btn btn-light btn-lg fa-lg fas fa-search"></button>
            </div>
            <div class="col-auto h-100">
                <button id="btnClear" type="button" class="h-100 btn btn-light btn-lg fa-lg fas fa-times"></button>
            </div>
        </form>

    </div>
    <div class="row mt-3">
        <div class="col-12">
            <table id="grid"></table>
        </div>
    </div>
</div>

<div id="dialog" style="display: none">
    <span id="dialogTxt"></span>
</div>

<script type="text/javascript">
        var grid, dialog;

        function Add(e) {
            var record = {
                userID: e.data.id
            };
            $.ajax({ url: '@Url.Action("AddEntry", "Entry", new { area = "Management" })', data: record, method: 'POST' })
                .done(function () {
                    $('#dialogTxt').text('Udało się zarejestrować wejście użytkownika do klubu.');
                    dialog.open('Rejestracja wejścia użytkownika ' + e.data.record.FirstName + ' ' + e.data.record.LastName);
                    grid.reload();
                    gridFinish.reload();
                    gridAll.reload();
                })
                .fail(function () {
                    $('#dialogTxt').html('<span class=\'text-danger\'>Nie udało się zarejestrować wejścia użytkownika do klubu. Sprawdź czy istnieje już niedokończona rejestracja wejścia tego klubowicza.</span>');
                    dialog.open('Rejestracja wejścia użytkownika ' + e.data.record.FirstName + ' ' + e.data.record.LastName);
                    grid.reload();
                    gridFinish.reload();
                    gridAll.reload();
                });
        }

        $(document).ready(function () {
            grid = $('#grid').grid({
                primaryKey: 'UserID',
                dataSource: '@Url.Action("GetUsers", "Entry", new { area = "Management" })',
                uiLibrary: 'bootstrap4',
                columns: [
                    { field: 'UserID', title: 'ID', sortable: true, width: 60 },
                    { field: 'FirstName', title: 'Imię', sortable: true },
                    { field: 'LastName', title: 'Nazwisko', sortable: true },
                    { field: 'Email', title: 'E-mail', sortable: true },
                    { title: '', field: 'Add', width: 64, align: 'center', type: 'icon', icon: 'btn btn-success btn-xs fa-xs fas fa-user-plus', tooltip: 'Zarejestruj wejście', events: { 'click': Add } }
                ],
                pager: { limit: 10 }
            });

            dialog = $('#dialog').dialog({
                autoOpen: false,
                resizable: false,
                uiLibrary: 'bootstrap4',
                modal: true,
                width: 440,
                height: 220
            });

            $('#btnSearch').on('click', function () {
                grid.reload({ page: 1, name: $('#txtName').val(), email: $('#txtEmail').val(), id: $('#txtID').val() });
            });

            $('#btnClear').on('click', function () {
                $('#txtID').val('');
                $('#txtName').val('');
                $('#txtEmail').val('');
                grid.reload({ name: '', email: '', id: '' });
            });
        });
</script>
