﻿<div class="container-fluid my-3">
    <div class="row">
        <form class="form-inline w-100">
            <div class="col-2">
                <input id="txtFinishID" type="number" min="1" placeholder="ID..." class="w-100 form-control mb-2 mr-sm-2 mb-sm-0" />
            </div>
            <div class="col">
                <input id="txtFinishName" type="text" placeholder="Imię i nazwisko..." class="w-100 form-control mb-2 mr-sm-2 mb-sm-0" />
            </div>
            <div class="col">
                <input id="txtFinishEmail" type="text" placeholder="Email..." class="w-100 form-control mb-2 mr-sm-2 mb-sm-0" />
            </div>
            <div class="col-auto h-100">
                <button id="btnFinishSearch" type="button" class="h-100 btn btn-light btn-lg fa-lg fas fa-search"></button>
            </div>
            <div class="col-auto h-100">
                <button id="btnFinishClear" type="button" class="h-100 btn btn-light btn-lg fa-lg fas fa-times"></button>
            </div>
        </form>

    </div>
    <div class="row mt-3">
        <div class="col-12">
            <table id="gridFinish"></table>
        </div>
    </div>
</div>

<div id="dialogFinish" style="display: none">
    <span id="dialogFinishTxt"></span>
</div>

<script type="text/javascript">
        var gridFinish, dialogFinish;

        function Finish(e) {
            var record = {
                entryID: e.data.id
            };
            $.ajax({ url: '@Url.Action("FinishEntry", "Entry", new { area = "Management" })', data: record, method: 'POST' })
                .done(function () {
                    $('#dialogFinishTxt').text('Udało się zarejestrować wyjście użytkownika z klubu.');
                    dialogFinish.open('Rejestracja wyjścia użytkownika ' + e.data.record.FirstName + ' ' + e.data.record.LastName);
                    grid.reload();
                    gridFinish.reload();
                    gridAll.reload();
                })
                .fail(function () {
                    $('#dialogFinishTxt').html('<span class=\'text-danger\'>Nie udało się zarejestrować wyjścia użytkownika z klubu.</span>');
                    dialogFinish.open('Rejestracja wyjścia użytkownika ' + e.data.record.FirstName + ' ' + e.data.record.LastName);
                    grid.reload();
                    gridFinish.reload();
                    gridAll.reload();
                });
        }

        $(document).ready(function () {
            gridFinish = $('#gridFinish').grid({
                primaryKey: 'EntryID',
                dataSource: '@Url.Action("GetUnfinishedEntries", "Entry", new { area = "Management" })',
                uiLibrary: 'bootstrap4',
                columns: [                
                    { field: 'UserID', title: 'ID', sortable: true, width: 60 },
                    { field: 'FirstName', title: 'Imię', sortable: true },
                    { field: 'LastName', title: 'Nazwisko', sortable: true },
                    { field: 'Email', title: 'E-mail', sortable: true },
                    { field: 'StartDate', title: 'Data wejścia', sortable: true, type: 'date', format: 'dd.mm.yyyy HH:MM' },
                    { title: '', field: 'Finish', width: 64, align: 'center', type: 'icon', icon: 'btn btn-success btn-xs fa-xs fas fa-user-check', tooltip: 'Zarejestruj wyjście', events: { 'click': Finish } }
                ],
                pager: { limit: 10 }
            });

            dialogFinish = $('#dialogFinish').dialog({
                autoOpen: false,
                resizable: false,
                uiLibrary: 'bootstrap4',
                modal: true,
                width: 440,
                height: 160
            });

            $('#btnFinishSearch').on('click', function () {
                gridFinish.reload({ page: 1, name: $('#txtFinishName').val(), email: $('#txtFinishEmail').val(), id: $('#txtFinishID').val() });
            });

            $('#btnFinishClear').on('click', function () {
                $('#txtFinishID').val('');
                $('#txtFinishName').val('');
                $('#txtFinishEmail').val('');
                gridFinish.reload({ name: '', email: '', id: '' });
            });
        });
</script>
