﻿@{
    ViewBag.Title = "Zarządzanie - Rejestr wejść";
}

<script src="~/Scripts/gijgo/combined/gijgo.js" type="text/javascript"></script>

<h2>Rejestr wejść</h2>
<hr />
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs pull-right" id="myTabEvent" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="entry-tab" data-toggle="tab" href="#entry" role="tab" aria-controls="entry" aria-selected="true">Rejestracja wejść</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="exits-tab" data-toggle="tab" href="#exits" role="tab" aria-controls="exits" aria-selected="false">Rejestracja wyjść</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Całkowity rejestr</a>
            </li>
        </ul>
    </div>
    <div class="card-body p-0">
        <div class="tab-content" id="myTabContentEvent">
            <div class="tab-pane fade show active" id="entry" role="tabpanel" aria-labelledby="entry-tab">
                @{ Html.RenderPartial("_EntryRegister"); }
            </div>
            <div class="tab-pane fade" id="exits" role="tabpanel" aria-labelledby="disposable-event-tab">
                @{ Html.RenderPartial("_ExitRegister"); }
            </div>
            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                @{ Html.RenderPartial("_AllEntries"); }
            </div>
        </div>
    </div>
</div>

<div class="py-3"></div>