﻿@model IEnumerable<FitnessClubApp.Model.Room>

@if (Model.Count() != 0)
{
    <div class="pl-3 w-100">
        <div class="card-deck text-center d-block">
            <div class="card ml-0">
                <ul class="list-group list-group-flush">
                    @foreach (var room in Model)
                    {
                        <li class="list-group-item text-left bg-light p-0">
                            <div class="d-flex card-header border-bottom-0">
                                <h4 class="mb-0" style="vertical-align: sub">Sala @room.Name</h4>
                                @Ajax.ActionLink(
                                    linkText: " ",
                                    actionName: "EditRoom",
                                    routeValues: new { roomID = room.RoomID },
                                    ajaxOptions: new AjaxOptions
                                    {
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "roomModal",
                                        OnSuccess = "$('#modalRoomForm').modal({backdrop: 'static', keyboard: false}); $.validator.unobtrusive.parse(\"#roomForm\");"
                                    },
                                    htmlAttributes: new {@class = "btn btn-lg btn-primary fas fa-lg fa-edit ml-auto"})
                                @Ajax.ActionLink(
                                    linkText: " ",
                                    actionName: "RemoveRoom",
                                    routeValues: new { roomID = room.RoomID },
                                    ajaxOptions: new AjaxOptions
                                    {
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "roomModal",
                                        OnSuccess = "$('#modalConfirmationRemoveRoom').modal({backdrop: 'static', keyboard: false});"
                                    },
                                    htmlAttributes: new {@class = "btn btn-lg btn-danger fas fa-lg fa-trash ml-2"})
                            </div>
                        </li>

                    }
                </ul>
            </div>

        </div>
    </div>
}
