﻿@model FitnessClubApp.Model.Room

<div class="modal fade" id="modalConfirmationRemoveRoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Usunięcie zajęcia z klubu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div id="modalContent">
                @using (Ajax.BeginForm("ConfirmationRemoveRoom", new { roomID = Model.RoomID },
                    new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "allRooms", OnSuccess = "$('#modalConfirmationRemoveRoom').modal('hide');" }))
                {
                    <div class="modal-body">
                        Czy na pewno chcesz usunąć salę <b>@Model.Name</b>?
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Usuń</button>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
