﻿@model FitnessClubApp.Model.Room

<div class="modal fade" id="modalConfirmationRemoveRoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Błąd usunięcia sali</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span class="text-danger">Nie możesz usunąć sali <b>@Model.Name</b>, ponieważ znajdują się w niej zaplanowane zajęcia.</span>
            </div>
        </div>
    </div>
</div>
