﻿@model FitnessClubApp.Web.Areas.Management.ViewModels.RoomFormViewModel

@{
    var isAddingForm = Model == null || Model.RoomID == 0;
}

<div class="modal fade" id="modalRoomForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@(isAddingForm ? "Dodaj salę" : "Edytuj salę")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Ajax.BeginForm(isAddingForm ? "AddRoom" : "EditRoom", new { },
            new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "allRooms", OnFailure = "roomFormOnFailure", OnSuccess = "$('#modalRoomForm').modal('hide');" }, new { id = "roomForm" } ))
            {
            <div class="modal-body">

                @if (!isAddingForm)
                {
                    @Html.HiddenFor(model => model.RoomID)
                }

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, "Nazwa")
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Nazwa" } })
                    @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger" })
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
            }

        </div>
    </div>
</div>
