﻿@{
    ViewBag.Title = "Zarządzanie - Sale";
}

<h2>Sale
    @Ajax.ActionLink(
                    linkText: " ",
                    actionName: "AddRoom",
                    routeValues: new {},
                    ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "roomModal",
                        OnSuccess = "$('#modalRoomForm').modal({backdrop: 'static', keyboard: false}); $.validator.unobtrusive.parse(\"#roomForm\");"
                    },
                    htmlAttributes: new {@class = "btn btn-icon fa-lg fas fa-plus-square text-success float-right" })
    </h2> 

<hr/>

<div id="allRooms">
    @{ Html.RenderAction("GetAllRooms"); }
</div>

<div id="roomModal">

</div>

<div class="py-3"></div>

<script>
    function roomFormOnFailure(e) {
        $('.modal-backdrop').remove();
        var html = e.responseText;
        $('#roomModal').html(html);
        $.validator.unobtrusive.parse("#roomForm");
        $('#modalRoomForm').modal({ backdrop: 'static', keyboard: false });
    }
</script>

