﻿@{
    ViewBag.Title = "Dyżury trenerów";
}
<div class="view-content">
    <h2>Dyżury trenerów</h2>
    <hr />

    <div id="calendar"></div>
    
    <div class="py-3"></div>
</div>


<script>
    $('#calendar').fullCalendar({
        schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
        locale: 'pl',
        timezone: 'Europe/London',
        editable: false,
        aspectRatio: 2,
        nowIndicator: true,
        scrollTime: '00:00',
        eventRender: function (eventObj, $el) {
            $el.popover({
                title: eventObj.title,
                content: eventObj.description,
                trigger: 'hover',
                placement: 'top',
                container: 'body'
            });
        },
        header: {
            left: 'today prev,next',
            center: 'title',
            right: 'agendaWeek,month'
        },
        dayClick: function(date, allDay, jsEvent, view) {
            if (allDay) {
                $('#calendar').fullCalendar('changeView', 'agendaWeek', new Date(date.toDate().getTime()));
            }
        },
        events: {
            url: '@Url.Action("GetWorkShiftsTrainers")'
        },
        displayEventEnd: true,
        timeFormat: 'H:mm'
    });
</script>