﻿<h4 class="text-center mb-3">
    Liczba zarejestrowanych wejść do klubu według płci w rocznym zestawieniu
</h4>

<div id="annualAmountTypesOfSalesFormDiv" data-html2canvas-ignore="true">
    @{ Html.RenderAction("AnnualAmountTypesOfSalesForm"); }
</div>

<div id="annualAmountTypesOfSalesDiv">
    <canvas id="annualAmountTypesOfSalesChart" class="mb-4" width="450" height="180"></canvas>
</div>
<script>
    var annualTypesLabels = [];

    $.get("@Url.Action("DefaultAnnualAmountTypesOfSales")", function (data) {
        annualTypesLabels = data.data.labels;
        var annualAmountTypesOfSalesCtx = document.getElementById("annualAmountTypesOfSalesChart").getContext('2d');
        var annualAmountTypesOfSalesChart = new Chart(annualAmountTypesOfSalesCtx, {
            type: data.type,
            data: data.data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>
