﻿<h4 class="text-center mb-3">
    Liczba zarejestrowanych wejść do klubu według płci w miesięcznym zestawieniu
</h4>

<div id="monthlyAmountTypesOfSalesFormDiv" data-html2canvas-ignore="true">
    @{ Html.RenderAction("MonthlyAmountTypesOfSalesForm"); }
</div>

<div id="monthlyAmountTypesOfSalesDiv">
    <canvas id="monthlyAmountTypesOfSalesChart" class="mb-4" width="450" height="180"></canvas>
</div>
<script>
    var monthlyTypesLabels = [];

    $.get("@Url.Action("DefaultMonthlyAmountTypesOfSales")", function (data) {
        monthlyTypesLabels = data.data.labels;
        var monthlyAmountTypesOfSalesCtx = document.getElementById("monthlyAmountTypesOfSalesChart").getContext('2d');
        var monthlyAmountTypesOfSalesChart = new Chart(monthlyAmountTypesOfSalesCtx, {
            type: data.type,
            data: data.data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>
