﻿@{
    ViewBag.Title = "Statystyki - Wejścia do klubu według płci";
}

<h2>Statystyki (wejścia do klubu według płci)</h2>
<hr />

<div id="dailyAmountTypesOfSales">
    @{ Html.RenderPartial("_DailyRegisteredEntriesByGenderGraph"); }
</div>

<div id="monthlyAmountTypesOfSales">
    @{ Html.RenderPartial("_MonthlyRegisteredEntriesByGenderGraph"); }
</div>

<div id="annualAmountTypesOfSales">
    @{ Html.RenderPartial("_AnnualRegisteredEntriesByGenderGraph"); }
</div>

<div class="py-4"></div>
