﻿@using System.Globalization
@model FitnessClubApp.Web.Areas.Management.ViewModels.DisplayMainPanelData

@{
    ViewBag.Title = "Zarządzanie - Panel główny";
}

<h2>Panel główny</h2>

<hr />

@{
    CultureInfo polish = new CultureInfo("pl-PL");
    string dayName = polish.DateTimeFormat.DayNames[DateTime.Now.DayOfWeek.GetHashCode()];
    string monthName = polish.DateTimeFormat.MonthNames[DateTime.Now.Month - 1];
}

<h3 class="text-center mt-4">Podsumowanie</h3>

<div class="row">
    <div class="col">
        <div class="card text-center my-4">
            <div class="card-header">
                <h4 class="mb-3">Dnia</h4>
                <h6 class="card-title mb-1"><i class="far fa-clock"></i>&nbsp;&nbsp;@dayName, @($"{DateTime.Now:dd.MM.yyyy}")</h6>
            </div>
            <div class="card-body">
                <p class="card-text">Zarejestrowanych użytkowników <strong>@Model.DailyRegisteredAccounts</strong></p>
                <p class="card-text">Wejść do klubu <strong>@Model.DailyRegisteredEntries</strong></p>
                <p class="card-text">Sprzedanych subskrypcji <strong>@Model.DailyTransactions</strong></p>
                <p class="card-text">Zajętych miejsc na zajęcia <strong>@Model.DailyUsersInEvents</strong></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center my-4">
            <div class="card-header">
                <h4 class="mb-3">Miesiąca</h4>
                <h6 class="card-title mb-1"><i class="fas fa-calendar-alt"></i>&nbsp;&nbsp;@monthName @($"{DateTime.Now:yyyy}")</h6>
            </div>
            <div class="card-body">
                <p class="card-text">Zarejestrowanych użytkowników <strong>@Model.MonthlyRegisteredAccounts</strong></p>
                <p class="card-text">Wejść do klubu <strong>@Model.MonthlyRegisteredEntries</strong></p>
                <p class="card-text">Sprzedanych subskrypcji <strong>@Model.MonthlyTransactions</strong></p>
                <p class="card-text">Zajętych miejsc na zajęcia <strong>@Model.MonthlyUsersInEvents</strong></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card text-center my-4">
            <div class="card-header">
                <h4 class="mb-3">Roku</h4>
                <h6 class="card-title mb-1"><i class="fas fa-calendar"></i>&nbsp;&nbsp;@($"{DateTime.Now:yyyy}")</h6>
            </div>
            <div class="card-body">
                <p class="card-text">Zarejestrowanych użytkowników <strong>@Model.AnnualRegisteredAccounts</strong></p>
                <p class="card-text">Wejść do klubu <strong>@Model.AnnualRegisteredEntries</strong></p>
                <p class="card-text">Sprzedanych subskrypcji <strong>@Model.AnnualTransactions</strong></p>
                <p class="card-text">Zajętych miejsc na zajęcia <strong>@Model.AnnualUsersInEvents</strong></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center my-4">
            <div class="card-header">
                <h4 class="mb-3">Całkowite</h4>
                <h6><i class="fas fa-hourglass-start"></i>&nbsp;&nbsp;od rozpoczęcia działalności</h6>
            </div>
            <div class="card-body">
                <p class="card-text">Zarejestrowanych użytkowników <strong>@Model.AllRegisteredAccounts</strong></p>
                <p class="card-text">Wejść do klubu <strong>@Model.AllRegisteredEntries</strong></p>
                <p class="card-text">Sprzedanych subskrypcji <strong>@Model.AllTransactions</strong></p>
                <p class="card-text">Zajętych miejsc na zajęcia <strong>@Model.AllUsersInEvents</strong></p>
            </div>
        </div>
    </div>
</div>

<hr />

<h3 class="text-center mt-4">Zasoby klubu</h3>

<div class="card text-center my-4">
    <div class="card-header">
        <h4 class="mb-3">Liczba pracowników</h4>
    </div>
    <div class="card-body">
        <h5 class="card-text" style="font-weight: normal">Recepcjonistów <strong>@Model.AmountOfReceptionists</strong></h5>
        <h5 class="card-text" style="font-weight: normal">Trenerów <strong>@Model.AmountOfTrainers</strong></h5>
        <h5 class="card-text" style="font-weight: normal">Menedżerów <strong>@Model.AmountOfManagers</strong></h5>
    </div>
</div>

<div class="card text-center my-4">
    <div class="card-header">
        <h4 class="mb-3">Liczba zdefiniowanych subskrypcji</h4>
    </div>
    <div class="card-body">
        <h3>@Model.AmountOfSubscriptions</h3>
    </div>
</div>

<div class="card text-center my-4">
    <div class="card-header">
        <h4 class="mb-3">Liczba zdefiniowanych zajęć</h4>
    </div>
    <div class="card-body">
        <h3>@Model.AmountOfTrainings</h3>
    </div>
</div>

<div class="card text-center my-4">
    <div class="card-header">
        <h4 class="mb-3">Liczba rodzajów sprzętu</h4>
    </div>
    <div class="card-body">
        <h3>@Model.AmountOfEquipments</h3>
    </div>
</div>

<div class="card text-center my-4">
    <div class="card-header">
        <h4 class="mb-3">Liczba zdefiniowanych sal</h4>
    </div>
    <div class="card-body">
        <h3>@Model.AmountOfRooms</h3>
    </div>
</div>

<div class="py-3"></div>

