﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FitnessClubApp</title>
    <link rel="shortcut icon" type="image/ico" href="~/Images/favicon.ico">
    <link href="~/Content/gijgo/combined/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/dashboard.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fontawesome/all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/tempusdominus-bootstrap-4.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/carousel.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Content/scheduler.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/respond.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>
    <script src="~/Scripts/scheduler.min.js"></script>
    <script src="~/Scripts/locale-all.js"></script>
    <script src="~/Scripts/jspdf.debug.js"></script>
    <script src="~/Scripts/html2canvas.js"></script>
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow d-block">
        <div class="d-flex">
            <a class="app-logo navbar-brand flex-grow-1 m-0" href="@Url.Action("Index", "Home", new { area = string.Empty })"><i class="fas fa-dumbbell px-3 align-middle"></i><span class="align-middle">FitnessClubApp</span></a>
            @if (User.Identity.IsAuthenticated)
            {
                Html.RenderAction("GetNavbarItems", "Home", new {area = string.Empty});
            }
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div>

        @Html.Partial("_StatusMessages")

        @RenderBody()

        @if (string.IsNullOrEmpty(ViewContext.RouteData.DataTokens["area"]?.ToString()) || ViewContext.RouteData.DataTokens["area"].ToString() == "Membership")
        {
            <hr />

            <footer class="text-center my-4">
                <span>&copy; @DateTime.Now.Year FitnessClubApp</span>
            </footer>
        }
    </div>


    @RenderSection("scripts", required: false)

    <script>
        var date = new Date();
        date.setDate(date.getDate() + 30);

        $('#date-of-birth-picker').datetimepicker({
            locale: 'pl',
            format: 'L',
            useCurrent: false,
            maxDate: new Date().setHours(0, 0, 0, 0),
            minDate: '1900-01-01',
            viewMode: 'years'
        });

        $('#subscription-start-date-picker').datetimepicker({
            locale: 'pl',
            format: 'L',
            useCurrent: false,
            maxDate: date.setHours(0, 0, 0, 0),
            minDate: new Date().setHours(0, 0, 0, 0)
        });

        $.validator.addMethod('checkboxischecked', function (value, element) {
            return $(element).is(":checked");
        });

        $.validator.unobtrusive.adapters.add('checkboxischecked', [], function (options) {
            options.messages['checkboxischecked'] = options.message;
            options.rules['checkboxischecked'] = options.params;
        });
    </script>

</body>
</html>
