﻿@using FitnessClubApp.Web.Extensions.HtmlHelpers
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", new { area = string.Empty }, FormMethod.Post, new { id = "logoutForm", @class = "d-flex" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav py-2 px-3">
            <li class="nav-item text-nowrap">
                @Html.ActionLink(User.Identity.GetUserName(), "Profile", "User", routeValues: new { area = string.Empty }, htmlAttributes: new { @class = $"nav-link { Html.IsSelected("Profile,ChangePassword", "User") }" })
            </li>
        </ul>
        <ul class="navbar-nav py-2 px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="javascript:$('#logoutForm').submit()">Wyloguj się</a>
            </li>
        </ul>
    }
}
else
{
        <ul class="navbar-nav py-2 px-3">
            <li class="nav-item text-nowrap">
                @Html.ActionLink("Zarejestruj się", "Registration", "User", routeValues: new { area = string.Empty }, htmlAttributes: new {id = "registerLink", @class = $"nav-link { Html.IsSelected("Registration", "User") }" })
            </li>
        </ul>
        <ul class="navbar-nav py-2 px-3">
            <li class="nav-item text-nowrap">
                @Html.ActionLink("Zaloguj się", "Login", "User", routeValues: new { area = string.Empty }, htmlAttributes: new {id = "loginLink", @class = $"nav-link { Html.IsSelected("Login", "User") }" })
            </li>
        </ul>
}
