﻿@using FitnessClubApp.Web.Extensions.HtmlHelpers
@model object

@if (User.IsInRole("User"))
{
    <div class="navbar-brand-color w-100 d-flex">
        <ul class="navbar-nav py-2 px-3">
            <li class="nav-item text-nowrap">
                @Html.ActionLink("Kup karnet", "Choose", "Store", routeValues: new { area = "Membership" }, htmlAttributes: new { @class = $"nav-link { Html.IsSelected("Choose,Checkout,Confirmation,Summary", "Store") }" })
            </li>
        </ul>
        <ul class="navbar-nav py-2 px-3">
            <li class="nav-item text-nowrap">
                @Html.ActionLink("Historia transakcji", "History", "PurchasedSubscription", routeValues: new { area = "Membership" }, htmlAttributes: new { @class = $"nav-link { Html.IsSelected("History", "PurchasedSubscription") }" })
            </li>
        </ul>
        <ul class="navbar-nav py-2 px-3">
            <li class="nav-item text-nowrap">
                @Html.ActionLink("Rezerwacja zajęć", "Index", "SeatReservation", routeValues: new { area = "Membership" }, htmlAttributes: new { @class = $"nav-link { Html.IsSelected("Index", "SeatReservation") }" })
            </li>
        </ul>
        <ul class="navbar-nav py-2 px-3">
            <li class="nav-item text-nowrap">
                @Html.ActionLink("Historia wejść", "Index", "EntryHistory", routeValues: new { area = "Membership" }, htmlAttributes: new { @class = $"nav-link { Html.IsSelected("Index", "EntryHistory") }" })
            </li>
        </ul>
        <ul class="navbar-nav py-2 px-3">
            <li class="nav-item text-nowrap">
                @Html.ActionLink("Dyżury trenerów", "Index", "WorkShiftsTrainers", routeValues: new { area = "Membership" }, htmlAttributes: new { @class = $"nav-link { Html.IsSelected("Index", "WorkShiftsTrainers") }" })
            </li>
        </ul>
        @{ Html.RenderAction("GetSubscriptionStatus", "Home", new { area = string.Empty }); }
    </div>
}
else if (User.Identity.IsAuthenticated)
{
    <div class="navbar-brand-color w-100 d-flex">
        <ul class="navbar-nav py-2 px-3">
            <li class="nav-item text-nowrap">
                @Html.ActionLink("Panel administracyjny", "Index", "MainPanel", routeValues: new { area = "Management" }, htmlAttributes: new { @class = $"nav-link { Html.IsSelected("*", "*", "Management") }" })
            </li>
        </ul>
    </div>
}
