﻿@{
    var type = (string)TempData["_alert.type"];
    var title = (string)TempData["_alert.title"];
    var body = (string)TempData["_alert.body"];
}

@if (!string.IsNullOrEmpty(type))
{
<div class="alert-content alert alert-@type alert-dismissible fade show" role="alert">
    <strong>@title</strong> @Html.Raw(body)

    <button type="button" class="close pt-2" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}