﻿@model object

<ul class="navbar-nav ml-auto">
    <li class="nav-item text-nowrap" style="padding-top: 13px">
        <i class="fas fa-lg @(((bool?)Model).Value ? "fa-check-circle text-success" : "fa-times-circle text-danger") nav-link"></i>
    </li>
</ul>
<ul class="navbar-nav py-2 pr-3 pl-2">
    <li class="nav-item text-nowrap">
        <span class="nav-link active">@(((bool?)Model).Value ? "Aktywny subskrybent" : "Nieaktywny subskrybent")</span>
    </li>
</ul>