﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Błąd";
}

<div class="view-content text-center">
    <h1 class="text-danger">Błąd.</h1>
    <h2 class="text-danger">Wystąpił błąd podczas przetwarzania żądania.</h2>
</div>


