﻿@model FitnessClubApp.Web.Areas.Management.ViewModels.AddTrainingFormViewModel

<div class="modal fade" id="modalTrainingForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj zajęcie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Ajax.BeginForm("AddTraining", new { },
                new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "allTrainings", OnFailure = "trainingFormOnFailure", OnSuccess = "$('#modalTrainingForm').modal('hide');" }, new { id = "trainingForm", enctype = "multipart/form-data" }))
            {
                <div class="modal-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, "Nazwa")
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Nazwa" } })
                        @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, "Opis")
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Opis" } })
                        @Html.ValidationMessageFor(model => model.Description, string.Empty, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Image, "Obraz")
                        <div class="custom-file mb-1">
                            @Html.TextBoxFor(model => model.Image, new { type = "file", @class = "custom-file-input" })
                            <label class="custom-file-label" for="@Html.IdFor(x => x.Image)">Wybierz plik</label>
                        </div>
                        @Html.ValidationMessageFor(model => model.Image, string.Empty, new { @class = "text-danger" })
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                </div>
            }

        </div>
    </div>
</div>

<script>
    $('#@Html.IdFor(x => x.Image)').on('change',function(){
        //get the file name
        var fileName = $(this).val();
        //replace the "Choose a file" label
        $(this).next('.custom-file-label').html(fileName);
    })
</script>
