﻿@model IEnumerable<FitnessClubApp.Model.Training>

@if (Model.Count() != 0)
{
    <div class="pl-3 w-100">
        <div class="card-deck text-center d-block">
            <div class="card ml-0">
                <ul class="list-group list-group-flush">
                    @foreach (var training in Model)
                    {
                        <li class="list-group-item text-left bg-light p-0">
                            <div class="d-flex card-header border-bottom-0">
                                <h4 class="mb-0" style="vertical-align: sub">@training.Name</h4>
                                <button class="btn btn-lg btn-info fas fa-lg fa-info ml-auto" data-toggle="collapse" data-target="#detailTraining_@training.TrainingID" aria-expanded="false" aria-controls="detailTraining_@training.TrainingID"></button>
                                @Ajax.ActionLink(
                                    linkText: " ",
                                    actionName: "EditTraining",
                                    routeValues: new {trainingID = training.TrainingID},
                                    ajaxOptions: new AjaxOptions
                                    {
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "trainingModal",
                                        OnSuccess = "$('#modalTrainingForm').modal({backdrop: 'static', keyboard: false}); $.validator.unobtrusive.parse(\"#trainingForm\");"
                                    },
                                    htmlAttributes: new {@class = "btn btn-lg btn-primary fas fa-lg fa-edit ml-2" })

                                @Ajax.ActionLink(
                                    linkText: " ",
                                    actionName: "RemoveTraining",
                                    routeValues: new {trainingID = training.TrainingID},
                                    ajaxOptions: new AjaxOptions
                                    {
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "trainingModal",
                                        OnSuccess = "$('#modalConfirmationRemoveTraining').modal({backdrop: 'static', keyboard: false}); $.validator.unobtrusive.parse(\"#confirmationRemoveTraining\");"
                                    },
                                    htmlAttributes: new {@class = "btn btn-lg btn-danger fas fa-lg fa-trash ml-2"})
                            </div>

                            @{
                                var base64 = Convert.ToBase64String(training.Image);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            }

                            <div class="card-body collapse" id="detailTraining_@training.TrainingID" style="border-top: 1px solid rgba(0, 0, 0, 0.125)">
                                <div class="row">
                                    <div class="col-md-auto">
                                        <div style="display: grid">
                                            <img src="@imgSrc" alt="Błąd ładowania" class="img-thumbnail mb-2" style="width: 200px; height: 200px; object-fit: cover;">
                                            @Ajax.ActionLink(
                                                linkText: " ",
                                                actionName: "EditImageTraining",
                                                routeValues: new {trainingID = training.TrainingID},
                                                ajaxOptions: new AjaxOptions
                                                {
                                                    HttpMethod = "GET",
                                                    InsertionMode = InsertionMode.Replace,
                                                    UpdateTargetId = "trainingModal",
                                                    OnSuccess = "$('#modalTrainingForm').modal({backdrop: 'static', keyboard: false}); $.validator.unobtrusive.parse(\"#trainingForm\");"
                                                },
                                                htmlAttributes: new {@class = "btn btn-secondary fas fa-pen fa-xs", style = "width: 200px" })
                                        </div>
                                    </div>
                                    <div class="col">
                                        <h5 class="card-title">Opis</h5>
                                        <p class="card-text">@training.Description</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="py-4"></div>
}

