﻿@model FitnessClubApp.Model.Training

<div class="modal fade" id="modalConfirmationRemoveTraining" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Usunięcie zajęcia z klubu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Ajax.BeginForm("ConfirmationRemoveTraining", new { trainingID = Model.TrainingID },
                new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "allTrainings", OnSuccess = "$('#modalConfirmationRemoveTraining').modal('hide');" }, new { id = "confirmationRemoveTraining" }))
            {
                <div class="modal-body">
                    Czy na pewno chcesz usunąć <b>@Model.Name</b> z listy zajęć w klubie?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Usuń</button>
                </div>
            }

        </div>
    </div>
</div>
