﻿@{
    ViewBag.Title = "Zarządzanie - Zajęcia";
}

<h2>Zajęcia
    @Ajax.ActionLink(
                    linkText: " ",
                    actionName: "AddTraining",
                    routeValues: new {},
                    ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "trainingModal",
                        OnSuccess = "$('#modalTrainingForm').modal({backdrop: 'static', keyboard: false}); $.validator.unobtrusive.parse(\"#trainingForm\");"
                    },
                    htmlAttributes: new {@class = "btn btn-icon fa-lg fas fa-plus-square text-success float-right" })
    </h2> 

<hr/>

<div id="allTrainings">
    @{ Html.RenderAction("GetAllTrainings"); }
</div>

<div id="trainingModal">

</div>

<script>
    function trainingFormOnFailure(e) {
        $('.modal-backdrop').remove();
        var html = e.responseText;
        $('#trainingModal').html(html);
        $.validator.unobtrusive.parse("#trainingForm");
        $('#modalTrainingForm').modal({ backdrop: 'static', keyboard: false });
    }
</script>

