﻿@model IEnumerable<FitnessClubApp.Model.Subscription>

<div class="px-3 w-100">
    <div class="card-deck text-center d-block">

        @foreach (var subscription in Model)
        {
            <div class="card mb-4 shadow-sm w-100 ml-0">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal d-inline">
                        @subscription.Name
                    </h4>               
            </div>
                <div class="card-body">
                    <h1 class="card-title d-inline pricing-card-title">@($"{subscription.Price:0.# zł}")</h1>
                    @if (subscription.PercentPromotion > 0)
                    {
                        <span class="ml-2 mt-2 align-top badge badge-warning">@($"-{subscription.PercentPromotion}%")</span>
                    }
                    <h1 class="mb-3">
                        <small class="text-muted">@subscription.Days @(subscription.Days == 1 ? "dzień" : "dni")</small>
                    </h1>
                    @Ajax.ActionLink(
                        linkText: " ",
                        actionName: "RemoveSubscription",
                        routeValues: new { subscriptionID = subscription.SubscriptionID },
                        ajaxOptions: new AjaxOptions
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "subscriptionModal",
                            OnSuccess = "$('#modalConfirmationRemoveSubscription').modal({backdrop: 'static', keyboard: false}); $.validator.unobtrusive.parse(\"#confirmationRemoveSubscription\");"
                        },
                        htmlAttributes: new {@class = "btn btn-lg btn-danger fas fa-lg fa-trash float-right ml-3" })
                    @Ajax.ActionLink(
                        linkText: " ",
                        actionName: "EditSubscription",
                        routeValues: new { subscriptionID = subscription.SubscriptionID },
                        ajaxOptions: new AjaxOptions
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "subscriptionModal",
                            OnSuccess = "$('#modalSubscriptionForm').modal({backdrop: 'static', keyboard: false}); $.validator.unobtrusive.parse(\"#subscriptionForm\");"
                        },
                        htmlAttributes: new {@class = "btn btn-lg btn-primary fas fa-lg fa-edit float-right" })
                </div>
        </div>
    }
    </div>
</div>
