﻿@model FitnessClubApp.Model.Subscription

<div class="modal fade" id="modalConfirmationRemoveSubscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Usunięcie subskrypcji</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Ajax.BeginForm("ConfirmationRemoveSubscription", new { subscriptionID = Model.SubscriptionID },
                new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "allSubscriptions", OnSuccess = "$('#modalConfirmationRemoveSubscription').modal('hide');" }, new { id = "confirmationRemoveSubscription" }))
            {
                <div class="modal-body">
                    Czy na pewno chcesz usunąć subskrypcję <b>@Model.Name</b>?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Usuń</button>
                </div>
            }

        </div>
    </div>
</div>
