﻿@model FitnessClubApp.Web.Areas.Management.ViewModels.SubscriptionFormViewModel

@{
    var isAddingForm = Model == null;
}

<div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@(isAddingForm ? "Dodaj subskrypcję" : "Edytuj subskrypcję")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Ajax.BeginForm(isAddingForm ? "AddSubscription" : "EditSubscription", new { }, 
                new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "allSubscriptions", OnSuccess = "$('#modalSubscriptionForm').modal('hide');" }, new { id = "subscriptionForm" } ))
            {
            <div class="modal-body">

                @if (!isAddingForm)
                {
                    @Html.HiddenFor(model => model.SubscriptionID)
                }

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, "Nazwa")
                    @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control mb-1", placeholder = "Nazwa"}})
                    @Html.ValidationMessageFor(model => model.Name, string.Empty, new {@class = "text-danger"})
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Price, "Cena")
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Cena" } })
                    @Html.ValidationMessageFor(model => model.Price, string.Empty, new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PercentPromotion, "Procent promocji")
                    @Html.EditorFor(model => model.PercentPromotion, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Procent promocji" } })
                    @Html.ValidationMessageFor(model => model.PercentPromotion, string.Empty, new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Days, "Liczba dni subskrypcji")
                    @Html.EditorFor(model => model.Days, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Liczba dni subskrypcji" } })
                    @Html.ValidationMessageFor(model => model.Days, string.Empty, new { @class = "text-danger" })
                </div>

            </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                </div>
            }

        </div>
    </div>
</div>
