﻿@{
    ViewBag.Title = "Zarządzanie - Subskrypcje";
}

<h2>Subskrypcje
    @Ajax.ActionLink(
                    linkText: " ",
                    actionName: "AddSubscription",
                    routeValues: new {},
                    ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "subscriptionModal",
                        OnSuccess = "$('#modalSubscriptionForm').modal({backdrop: 'static', keyboard: false}); $.validator.unobtrusive.parse(\"#subscriptionForm\");"
                    },
                    htmlAttributes: new {@class = "btn btn-icon fa-lg fas fa-plus-square text-success float-right" })
    </h2> 

<hr/>

<div id="allSubscriptions">
    @{ Html.RenderAction("GetAllSubscriptions"); }
</div>

<div id="subscriptionModal">

</div>

<div class="py-3"></div>

