﻿@model FitnessClubApp.Model.Event

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Błąd zarezerwowania zajęć</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span class="text-danger">Nie możesz zapisać lub wypisać się z zajęć <b>@Model.Name (@($"{Model.StartDate:dd.MM.yyyy HH:mm}") - @($"{Model.EndDate:dd.MM.yyyy HH:mm}"))</b>, ponieważ termin zapisu na te zajęcia już minął.</span>
            </div>
        </div>
    </div>
</div>
