﻿@model FitnessClubApp.Model.Event

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Wypisanie się z zajęć</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Ajax.BeginForm("RemoveUserFromEvent", new { eventID = Model.EventID },
                new AjaxOptions() { HttpMethod = "POST", OnSuccess = "$('#modal').modal('hide'); $('#calendar').fullCalendar('refetchEvents');" }))
            {
                <div class="modal-body">
                    Czy chcesz wypisać się z zajęć <b>@Model.Name (@($"{Model.StartDate:dd.MM.yyyy HH:mm}") - @($"{Model.EndDate:dd.MM.yyyy HH:mm}"))</b>?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Wypisz się</button>
                </div>
            }

        </div>
    </div>
</div>
