﻿@{
    ViewBag.Title = "Rezerwacja zajęć";
}
<div class="view-content">
    <h2>Rezerwacja miejsc na zajęcia</h2>
    <hr />

    <div id="calendar"></div>

    <div id="divModal">

    </div>

    <div class="py-3"></div>
    
    <div class="text-center">
        <span class="badge badge-primary px-3" style="background-color: rgb(58, 135, 173)">&nbsp;</span>
        <span>&nbsp;Zarezerwowane miejsce na zajęcia</span>
        &nbsp;&nbsp;<span class="badge badge-danger px-3" style="background-color: red">&nbsp;</span>
        <span>&nbsp;Termin na rezerwacje miejsca minął</span>
        &nbsp;&nbsp;<span class="badge badge-success px-3" style="background-color: green">&nbsp;</span>
        <span>&nbsp;Możliwość rezerwacji miejsca</span>
        &nbsp;&nbsp;<span class="badge badge-warning px-3" style="background-color: orange">&nbsp;</span>
        <span>&nbsp;Limit miejsc został wyczerpany</span>
    </div>

    <div class="py-3"></div>
</div>


<script>
    $('#calendar').fullCalendar({
        schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
        locale: 'pl',
        timezone: 'Europe/London',
        editable: false,
        aspectRatio: 2,
        nowIndicator: true,
        scrollTime: '00:00',
        eventAfterAllRender: function (view) {
                $("[role='tooltip']").remove(); //change id and height if needed
        },
        eventRender: function (eventObj, $el) {
            $el.popover({
                title: eventObj.title,
                content: eventObj.description,
                trigger: 'hover',
                placement: 'top',
                container: 'body'
            });
        },
        eventClick: function (calEvent, jsEvent, view) {
            $.get("@Url.Action("ShowSavingOptions")", {
                eventID: calEvent.id
            },
            function (data) {
                $("#divModal").html(data);
                $('#modal').modal({ backdrop: 'static', keyboard: false });
            });
        },
        header: {
            left: 'today prev,next',
            center: 'title',
            right: 'agendaWeek,month'
        },
        dayClick: function(date, allDay, jsEvent, view) {
            if (allDay) {
                $('#calendar').fullCalendar('changeView', 'agendaWeek', new Date(date.toDate().getTime()));
            }
        },
        resourceColumns: [
            {
                labelText: 'Pracownicy',
                field: 'title'
            },
            {
                labelText: 'Stanowisko',
                field: 'role'
            }
        ],
        events: {
            url: '@Url.Action("GetSeatReservationEvents")'
        },
        displayEventEnd: true,
        timeFormat: 'H:mm'
    });
</script>