﻿<h4 class="text-center mb-3">
    Zarezerwowane miejsca na zajęcia w dziennym zestawieniu
</h4>

<div id="dailyAmountTypesOfSalesFormDiv" data-html2canvas-ignore="true">
    @{ Html.RenderAction("DailyAmountTypesOfSalesForm"); }
</div>

<div id="dailyAmountTypesOfSalesDiv">
    <canvas id="dailyAmountTypesOfSalesChart" class="mb-4" width="450" height="180"></canvas>
</div>
<script>
    var typesLabels = [];

    $.get("@Url.Action("DefaultDailyAmountTypesOfSales")", function (data) {
        typesLabels = data.data.labels;
        var dailyAmountTypesOfSalesCtx = document.getElementById("dailyAmountTypesOfSalesChart").getContext('2d');
        var dailyAmountTypesOfSalesChart = new Chart(dailyAmountTypesOfSalesCtx, {
            type: data.type,
            data: data.data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>
