﻿@{
    ViewBag.Title = "Statystyki - Zarezerwowane miejsca na zajęcia";
}

<h2>Statystyki (zarezerwowane miejsca na zajęcia)</h2>
<hr />

<div id="dailyAmountTypesOfSales">
    @{ Html.RenderPartial("_DailyUsersInEventsByNameGraph"); }
</div>

<div id="monthlyAmountTypesOfSales">
    @{ Html.RenderPartial("_MonthlyUsersInEventsByNameGraph"); }
</div>

<div id="annualAmountTypesOfSales">
    @{ Html.RenderPartial("_AnnualUsersInEventsByNameGraph"); }
</div>

<div id="chosenEvents">
    @{ Html.RenderPartial("_ChosenEvents"); }
</div>

<div class="py-4"></div>
