﻿@model FitnessClubApp.Web.Areas.Membership.ViewModels.SubscriptionOrderFormViewModel

@{
    ViewBag.Title = "Sklep";
}

<div class="container">
    <div class="py-5 text-center">
        <h2>Formularz zamówienia</h2>
        <p class="lead">Uzupełnij niezbędne dane, aby złożyć zamówienie.</p>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Wybrana subskrypcja</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">@Model.Subscription.Name</h6>
                            <small class="text-muted">@Model.Subscription.Days @(Model.Subscription.Days == 1 ? "dzień" : "dni")</small>
                        </div>
                        <span class="text-muted">@($"{Model.Subscription.Price:0.# zł}")</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Do zapłaty</span>
                        <strong>@($"{Model.Subscription.Price:0.# zł}")</strong>
                    </li>
                </ul>

                <label class="w-100 text-center">Data rozpoczęcia subskrypcji</label>
                <div class="input-group date mb-1" id="subscription-start-date-picker" data-target-input="nearest">
                    @Html.EditorFor(model => model.StartDate, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control datetimepicker-input",
                            data_target = "#subscription-start-date-picker",
                            placeholder = "Data rozpoczęcia",
                        }
                    })
                    <div class="input-group-append" data-target="#subscription-start-date-picker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.StartDate, string.Empty, new { @class = "text-danger" })
            </div>
            <div class="col-md-8 order-md-1">
                <h4>Dane zamawiającego</h4>
                <span class="badge badge-info mr-2">Uwaga!</span>
                <small>Wykupiona subskrypcja będzie przypisana do konta, na którym jesteś zalogowany!</small>
                <br /><small style="padding-left: 57px">Część danych do zamówienia zostanie pobranych z danych przypisanych do konta.</small>
                <hr />
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="FirstName">Imię</label>
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Imię" } })
                        @Html.ValidationMessageFor(model => model.FirstName, string.Empty, new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="LastName">Nazwisko</label>
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Nazwisko" } })
                        @Html.ValidationMessageFor(model => model.LastName, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-3">
                    <label for="StreetAddress">Adres</label>
                    @Html.EditorFor(model => model.StreetAddress, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Adres" } })
                    @Html.ValidationMessageFor(model => model.StreetAddress, string.Empty, new { @class = "text-danger" })
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="ZipCode">Kod pocztowy</label>
                        @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Kod pocztowy" } })
                        @Html.ValidationMessageFor(model => model.ZipCode, string.Empty, new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="City">Miasto</label>
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Miasto" } })
                        @Html.ValidationMessageFor(model => model.City, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>E-mail</label><br />
                        <label class="h6 font-weight-bold">@Model.User.Email</label>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Telefon</label><br />
                        <label class="h6 font-weight-bold">(+48) @Model.User.PhoneNumber</label>
                    </div>
                </div>

                <hr class="mb-4">

                <h4 class="mb-3">Dostawa karty subskrybenta</h4>

                <div class="d-block my-3">
                    <div>
                        @Html.RadioButtonFor(m => m.Shipment, false, new { })
                        <label>Odbiór osobisty</label>
                    </div>
                    <div>
                        @Html.RadioButtonFor(m => m.Shipment, true, new { })
                        <label>Dostawa na adres podany w formularzu</label>
                    </div>
                </div>

                <hr class="mb-4">
                <div>
                    @Html.EditorFor(model => model.IsAcceptedRules, new { id = "is-accepted-rules" })
                    <label>Akceptuję regulamin sprzedaży oraz członkostwa w klubie</label>
                </div>
                @Html.ValidationMessageFor(model => model.IsAcceptedRules, string.Empty, new { @class = "text-danger" })

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Przejdź do podsumowania</button>
            </div>
        </div>

        @Html.HiddenFor(model => model.UserID)

        @Html.HiddenFor(model => model.SubscriptionID)
    }
</div>

<div class="py-3"></div>

