﻿@model IEnumerable<FitnessClubApp.Model.Subscription>

@{
    ViewBag.Title = "Sklep";
}

<div class="view-content">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Subskrypcje</h1>
        <p class="lead">Do wyboru masz szeroką ofertę subskrypcji. Wybierz ofertę i przeniesiemy Ciebie do sfinalizowania transakcji.</p>
    </div>

    <div class="container">
        <div class="row mt-5 justify-content-center text-center">

            @foreach (var subscription in Model)
            {
                <div class="card card-custom mx-2 mb-3">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal d-inline">
                            @subscription.Name
                        </h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title d-inline pricing-card-title">@($"{subscription.Price:0.# zł}")</h1>
                        @if (subscription.PercentPromotion > 0)
                        {
                            <span class="ml-2 mt-2 align-top badge badge-warning">@($"-{subscription.PercentPromotion}%")</span>
                        }
                        <h1 class="mb-3">
                            <small class="text-muted">@subscription.Days @(subscription.Days == 1 ? "dzień" : "dni")</small>
                        </h1>
                        @Html.ActionLink("Kup teraz", "Checkout", new { subscriptionID = subscription.SubscriptionID }, new { @class = "btn btn-lg btn-primary " })
                    </div>
                </div>
            }
        </div>
    </div>

</div>

<div class="py-3"></div>