﻿@model FitnessClubApp.Model.PurchasedSubscription

@{
    ViewBag.Title = "Sklep";
}

<div class="container view-content">
    <div class="pb-4 text-center">
        <h2>Potwierdzenie złożenia zamówienia</h2>
        <p class="lead">Przeczytaj informacje zawarte poniżej.</p>
    </div>
    
    <div class="text-center">
        <p><strong>Zakupiona subskrypcja:</strong> @Model.SubscriptionName</p>
        <p><strong>Cena:</strong> @($"{Model.Price:0.# zł}")</p>
        <p><strong>Data rozpoczęcia:</strong> @Model.StartDate.ToString("dd.MM.yyyy")</p>
        <p><strong>Data zakończenia:</strong> @Model.EndDate.ToString("dd.MM.yyyy")</p>
        <br />
        <p>Możesz osobiście dokonać płatności za karnet w siedzibie klubu lub wpłacić pieniądze na konto firmy.</p>
        <br />
        <p><strong>Dane do konta:</strong></p>
        <p>&nbsp;<strong>Adres:</strong> FitnessClubApp Inc.</p>
        <p>Warszawska 23/12</p>
        <p>15-500 Białystok</p>
        <p><strong>Kwota:</strong> @($"{Model.Price:0.# zł}")</p>
        <p><strong>Numer konta:</strong> PL 11 2222 3333 4444 5555 6666 7777</p>
        <p><strong>Tytuł przelewu:</strong> SUBSKRYPCJA ID @Model.PurchasedSubscriptionID</p>
        <br />
        <p>Do momentu zaksięgowania wpłaty subskrypcja będzie nieaktywna i możesz nie mieć dostępu do klubu.</p>
        <br />
        @Html.ActionLink("Wróć do strony głównej", "Index", "Home", new { area = string.Empty }, new { })
    </div>
</div>

<div class="py-3"></div>

