﻿@model FitnessClubApp.Web.Areas.Membership.ViewModels.SubscriptionOrderFormViewModel

@{
    ViewBag.Title = "Sklep";
}

<div class="container">
    <div class="py-5 text-center">
        <h2>Podsumowanie zamówienia</h2>
        <p class="lead">Sprawdź dane podane w zamówieniu i potwiedź zakup.</p>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Wybrana subskrypcja</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">@Model.Subscription.Name</h6>
                        <small class="text-muted">@Model.Subscription.Days @(Model.Subscription.Days == 1 ? "dzień" : "dni")</small>
                    </div>
                    <span class="text-muted">@($"{Model.Subscription.Price:0.# zł}")</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Do zapłaty</span>
                    <strong>@($"{Model.Subscription.Price:0.# zł}")</strong>
                </li>
            </ul>

            <label class="w-100 text-center">Data rozpoczęcia subskrypcji</label>
            <div class="input-group date mb-1" id="subscription-start-date-picker" data-target-input="nearest">
                <label class="w-100 h6 font-weight-bold text-center">@Model.StartDate</label>
            </div>
        </div>

        <div class="col-md-8 order-md-1">
            <h4>Dane zamawiającego</h4>
            <hr/>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Imię</label><br/>
                    <label class="h6 font-weight-bold">@Model.FirstName</label>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Nazwisko</label><br/>
                    <label class="h6 font-weight-bold">@Model.LastName</label>
                </div>
            </div>

            <div class="mb-3">
                <label>Adres</label><br/>
                <label class="h6 font-weight-bold">@Model.StreetAddress</label>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Kod pocztowy</label><br/>
                    <label class="h6 font-weight-bold">@Model.ZipCode</label>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Miasto</label><br/>
                    <label class="h6 font-weight-bold">@Model.City</label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>E-mail</label><br/>
                    <label class="h6 font-weight-bold">@Model.User.Email</label>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Telefon</label><br/>
                    <label class="h6 font-weight-bold">(+48) @Model.User.PhoneNumber</label>
                </div>
            </div>

            <hr class="mb-4">

            <h4 class="mb-3">Dostawa karty subskrybenta</h4>

            <div class="d-block my-3">
                @if (!Model.Shipment)
                {
                    <label class="h6">Odbiór osobisty</label>
                }
                else
                {
                    <label class="h6">Dostawa na adres podany w formularzu</label>
                }
            </div>

            <hr class="mb-4">
            <div>
                <label><i>Akceptuję regulamin sprzedaży oraz członkostwa w klubie</i></label>
            </div>

            <hr class="mb-4">
            @using (Html.BeginForm(actionName: "Confirm", controllerName: "Store" ))
            {
                @Html.AntiForgeryToken()
                <button class="btn btn-primary btn-lg btn-block" type="submit">Potwierdzam zakup</button>
            }
        </div>
    </div>
</div>

<div class="py-3"></div>
