body {
    font-size: .875rem;
}

[data-role="modal"] {
    background: rgba(0, 0, 0, 0.5)
}

.nav-padding {
    padding-top: 48px;
}

.alert-content {
    margin: 2em 7em 0;
}

.view-content {
    padding: 2em 7em 0;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.app-logo {
    padding-right: 1rem;
    box-shadow: none !important;
    color: #e6e6e6 !important;
}

.app-logo i {
    font-size: x-large;
}

.app-logo span {
    font-weight: 500;
}

.app-logo:hover {
    color: white !important;
}

.navbar-brand-color {
    background-color: rgba(0, 0, 0, .25);
}

.carousel-text-shadow {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*
 * Form
 */
.input-validation-error {
    border: 1px solid #ff0000 !important;
}

    .input-validation-error:focus {
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
    }

.custom-file-input.input-validation-error + label {
    border: 1px solid #ff0000 !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Wybierz";
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 52px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #999;
    }

    .sidebar .nav-link.active {
        color: #007bff;
    }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    margin: 0;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

    .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }

/*
 * Utilities
 */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

/*
* Card add
*/

.card-add i {
    color: rgba(0, 0, 0, 0.25);
}

.card-add:hover {
    background: rgba(0, 0, 0, 0.03);
}

.card-add:hover i {
    color: green;
}

.btn-icon:focus, .btn-icon:active {
    outline: none !important;
    box-shadow: none;
}

.card-custom {
    min-width: 320px;
}

.dashboard-navbar .nav-link i {
    color: #999 !important;
}

.dashboard-navbar .nav-link:hover i {
    color: #333 !important;
}

.dashboard-navbar .active i, .dashboard-navbar .active:hover i {
    color: #007bff !important;
}

.gj-checkbox-bootstrap input[type=checkbox][disabled] + span {
    cursor: default !important;
}

.gj-checkbox-bootstrap {
    display: inline-block;
}