﻿@{
    ViewBag.Title = "Zarządzanie - Grafik";
}

<h2>Grafik</h2>
<hr />

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs pull-right" id="myTabEvent" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="work-shift-tab" data-toggle="tab" href="#work-shift" role="tab" aria-controls="work-shift" aria-selected="true">Moje dyżury</a>
            </li>
            <li class="nav-item @(!User.IsInRole("Trainer") ? "d-none" : string.Empty )">
                <a class="nav-link" id="event-tab" data-toggle="tab" href="#event" role="tab" aria-controls="event" aria-selected="false">Moje zajęcia</a>
            </li>
            <li class="nav-item @(!User.IsInRole("Trainer") ? "d-none" : string.Empty )">
                <a class="nav-link" id="work-shift-and-event-tab" data-toggle="tab" href="#work-shift-and-event" role="tab" aria-controls="work-shift-and-event" aria-selected="true">Moje dyżury i zajęcia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="false">Cały grafik</a>
            </li>
        </ul>
    </div>
    <div class="card-body p-0">
        <div class="tab-content" id="myTabContentEvent">
            <div class="tab-pane fade show active" id="work-shift" role="tabpanel" aria-labelledby="work-shift-tab">
                <div class="p-4">
                    <div id="calendarWorkShift"></div>
                </div>
            </div>
            <div class="tab-pane fade d-block" id="event" role="tabpanel" aria-labelledby="event-tab">
                <div class="p-4">
                    <div id="calendarEvent"></div>
                </div>
            </div>
            <div class="tab-pane fade d-block" id="work-shift-and-event" role="tabpanel" aria-labelledby="work-shift-and-event-tab">
                <div class="p-4">
                    <div id="calendarWorkShiftAndEvent"></div>
                </div>
            </div>
            <div class="tab-pane fade d-block" id="all" role="tabpanel" aria-labelledby="disposable-event-tab">
                <div class="p-4">
                    <div id="calendarAll"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-4"></div>

<script>
    $('#calendarWorkShift').fullCalendar({
        schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
        locale: 'pl',
        timezone: 'Europe/London',
        editable: false,
        nowIndicator: true,
        scrollTime: '00:00',
        eventColor: 'orange',
        viewRender: function (view, element) {
            $('#calendarWorkShift').fullCalendar('option', 'height', "auto"); //change id and height if needed
        },
        loading: function (isLoading, view) {
            if (isLoading === false) {
                $('#calendarWorkShift').fullCalendar('option', 'height', "auto"); //change id and height if needed
            }            
        },
        eventAfterAllRender: function (view) {
            $("[role='tooltip']").remove(); //change id and height if needed
        },
        eventRender: function (eventObj, $el) {
            $el.popover({
                title: eventObj.title,
                content: eventObj.description,
                trigger: 'hover',
                placement: 'top',
                container: 'body'
            });
        },
        header: {
            left: 'exportPDF today prev,next',
            center: 'title',
            right: 'agendaWeek,month'
        },
        customButtons: {
            exportPDF: {
                text: "Eksport do PDF",
                click: function () {
                    if ($('#calendarWorkShift').fullCalendar('getView').name === 'month')
                    {
                        html2canvas($("#calendarWorkShift")[0], {
                            dpi: 300, // Set to 300 DPI
                            windowWidth: 1600,
                            windowHeight: 800
                        }).then(canvas => {
                            var imgData = canvas.toDataURL("image/jpeg", 1);
                            var doc = new jsPDF('l', 'mm', 'a4');

                            var width = doc.internal.pageSize.getWidth()-20;
                            var height = doc.internal.pageSize.getHeight()-20;

                            var title = $('#calendarWorkShift').fullCalendar('getView').title;
                            doc.addImage(imgData, 'JPEG', 10, 10, width, height);
                            doc.save('Moje dyżury ' + title + '.pdf');
                        });
                    }
                    else
                        alert('Eksport do pliku PDF jest możliwy tylko dla miesięcznego harmonogramu.')
                }
            }
        },
        dayClick: function(date, allDay, jsEvent, view) {
            if (allDay) {
                $('#calendarWorkShift')
                    .fullCalendar('changeView', 'agendaWeek', new Date(date.toDate().getTime()));
            }
        },
        resourceColumns: [
            {
                labelText: 'Pracownicy',
                field: 'title'
            },
            {
                labelText: 'Stanowisko',
                field: 'role'
            }
        ],
        events: {
            url: '@Url.Action("GetWorkShiftEvents")'
        },
        displayEventEnd: true,
        timeFormat: 'H:mm'
    });

    $('#calendarEvent').fullCalendar({
        schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
        locale: 'pl',
        timezone: 'Europe/London',
        editable: false,
        nowIndicator: true,
        scrollTime: '00:00',
        eventColor: 'orange',
        viewRender: function (view, element) {
            $('#calendarEvent').fullCalendar('option', 'height', "auto"); //change id and height if needed
        },
        loading: function (isLoading, view) {
            if (isLoading === false) {
                $('#calendarEvent').fullCalendar('option', 'height', "auto"); //change id and height if needed
            }             
        },
        eventAfterAllRender: function (view) {
            $("[role='tooltip']").remove(); //change id and height if needed
        },
        eventRender: function (eventObj, $el) {
            $el.popover({
                title: eventObj.title,
                content: eventObj.description,
                trigger: 'hover',
                placement: 'top',
                container: 'body'
            });
        },
        header: {
            left: 'exportPDF today prev,next',
            center: 'title',
            right: 'agendaWeek,month'
        },
        customButtons: {
            exportPDF: {
                text: "Eksport do PDF",
                click: function () {
                    if ($('#calendarEvent').fullCalendar('getView').name === 'month')
                    {
                        html2canvas($("#calendarEvent")[0], {
                            dpi: 300, // Set to 300 DPI
                            windowWidth: 1600,
                            windowHeight: 800
                        }).then(canvas => {
                            var imgData = canvas.toDataURL("image/jpeg", 1);
                            var doc = new jsPDF('l', 'mm', 'a4');

                            var width = doc.internal.pageSize.getWidth()-20;
                            var height = doc.internal.pageSize.getHeight()-20;

                            var title = $('#calendarEvent').fullCalendar('getView').title;
                            doc.addImage(imgData, 'JPEG', 10, 10, width, height);
                            doc.save('Moje zajęcia ' + title + '.pdf');
                        });
                    }
                    else
                        alert('Eksport do pliku PDF jest możliwy tylko dla miesięcznego harmonogramu.')
                }
            }
        },
        dayClick: function(date, allDay, jsEvent, view) {
            if (allDay) {
                $('#calendarEvent')
                    .fullCalendar('changeView', 'agendaWeek', new Date(date.toDate().getTime()));
            }
        },
        resourceColumns: [
            {
                labelText: 'Pracownicy',
                field: 'title'
            },
            {
                labelText: 'Stanowisko',
                field: 'role'
            }
        ],
        events: {
            url: '@Url.Action("GetEventEvents")'
        },
        displayEventEnd: true,
        timeFormat: 'H:mm'
    });

     $('#calendarWorkShiftAndEvent').fullCalendar({
        schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
        locale: 'pl',
        timezone: 'Europe/London',
        editable: false,
        nowIndicator: true,
        scrollTime: '00:00',
        eventRender: function (eventObj, $el) {
            $el.popover({
                title: eventObj.title,
                content: eventObj.description,
                trigger: 'hover',
                placement: 'top',
                container: 'body'
            });
        },
        viewRender: function(view, element) {
            $('#calendarWorkShiftAndEvent').fullCalendar('option', 'height', "auto"); //change id and height if needed
         },
         loading: function (isLoading, view) {
             if (isLoading === false) {
                 $('#calendarWorkShiftAndEvent').fullCalendar('option', 'height', "auto"); //change id and height if needed
             }              
         },
        eventAfterAllRender: function (view) {
            $("[role='tooltip']").remove(); //change id and height if needed
        },
        header: {
            left: 'exportPDF today prev,next',
            center: 'title',
            right: 'agendaWeek,month'
         },
         customButtons: {
            exportPDF: {
                text: "Eksport do PDF",
                click: function () {
                    if ($('#calendarWorkShiftAndEvent').fullCalendar('getView').name === 'month')
                    {
                        html2canvas($("#calendarWorkShiftAndEvent")[0], {
                            dpi: 300, // Set to 300 DPI
                            windowWidth: 1600,
                            windowHeight: 800
                        }).then(canvas => {
                            var imgData = canvas.toDataURL("image/jpeg", 1);
                            var doc = new jsPDF('l', 'mm', 'a4');

                            var width = doc.internal.pageSize.getWidth()-20;
                            var height = doc.internal.pageSize.getHeight()-20;

                            var title = $('#calendarWorkShiftAndEvent').fullCalendar('getView').title;
                            doc.addImage(imgData, 'JPEG', 10, 10, width, height);
                            doc.save('Moje dyżury i zajęcia ' + title + '.pdf');
                        });
                    }
                    else
                        alert('Eksport do pliku PDF jest możliwy tylko dla miesięcznego harmonogramu.')
                }
            }
        },
        dayClick: function(date, allDay, jsEvent, view) {
            if (allDay) {
                $('#calendarWorkShiftAndEvent')
                    .fullCalendar('changeView', 'agendaWeek', new Date(date.toDate().getTime()));
            }
        },
        resourceColumns: [
            {
                labelText: 'Pracownicy',
                field: 'title'
            },
            {
                labelText: 'Stanowisko',
                field: 'role'
            }
        ],
        events: {
            url: '@Url.Action("GetWorkShiftAndEventEvents")'
        },
        displayEventEnd: true,
        timeFormat: 'H:mm'
    });

     $('#calendarAll').fullCalendar({
        schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
        locale: 'pl',
        timezone: 'Europe/London',
        editable: false,
        nowIndicator: true,
        scrollTime: '00:00',
        eventRender: function (eventObj, $el) {
            $el.popover({
                title: eventObj.title,
                content: eventObj.description,
                trigger: 'hover',
                placement: 'top',
                container: 'body'
            });
        },
        viewRender: function(view, element) {
            $('#calendarAll').fullCalendar('option', 'height', "auto"); //change id and height if needed
        },
        loading: function (isLoading, view) {
            if (isLoading === false) {
                $('#calendarAll').fullCalendar('option', 'height', "auto"); //change id and height if needed
            }          
        },
        eventAfterAllRender: function (view) {
            $("[role='tooltip']").remove(); //change id and height if needed
        },
        header: {
            left: 'exportPDF today prev,next',
            center: 'title',
            right: 'timelineDay,timelineThreeDays,agendaWeek,month'
        },
        customButtons: {
             exportPDF: {
                 text: "Eksport do PDF",
                 click: function () {
                     if ($('#calendarAll').fullCalendar('getView').name === 'month') {
                         html2canvas($("#calendarAll")[0], {
                             dpi: 300, // Set to 300 DPI
                             windowWidth: 1600,
                             windowHeight: 800
                         }).then(canvas => {
                             var imgData = canvas.toDataURL("image/jpeg", 1);
                             var doc = new jsPDF('l', 'mm', 'a4');

                             var width = doc.internal.pageSize.getWidth() - 20;
                             var height = doc.internal.pageSize.getHeight() - 20;

                             var title = $('#calendarAll').fullCalendar('getView').title;
                             doc.addImage(imgData, 'JPEG', 10, 10, width, height);
                             doc.save('Cały grafik ' + title + '.pdf');
                         });
                     }
                     else
                         alert('Eksport do pliku PDF jest możliwy tylko dla miesięcznego harmonogramu.')
                 }
             }
        },
        dayClick: function(date, allDay, jsEvent, view) {
            if (allDay) {
                $('#calendarAll')
                    .fullCalendar('changeView', 'timelineDay', new Date(date.toDate().getTime()));
            }
        },
        views: {
            timelineThreeDays: {
                type: 'timeline',
                duration: { days: 3 }
            }
        },
        resourceColumns: [
            {
                labelText: 'Pracownicy',
                field: 'title'
            },
            {
                labelText: 'Stanowisko',
                field: 'role'
            }
        ],
        resourcesInitiallyExpanded: false,
        resources: '@Url.Action("GetAllResource")',
        events: {
            url: '@Url.Action("GetAllEvents")'
        },
        displayEventEnd: true,
        timeFormat: 'H:mm'
    });

    $(document).ready(function() {
        $('#event').removeClass('d-block');
        $('#work-shift-and-event').removeClass('d-block');
        $('#all').removeClass('d-block');

        $('.fc-exportPDF-button').html("<i class='fas fa-file-pdf'></i>");
        $('.fc-left').attr("data-html2canvas-ignore", "true");
        $('.fc-right').attr("data-html2canvas-ignore", "true");
    });

    $('#all-tab').on('shown.bs.tab',
        function (e) {
            $('#calendarAll').fullCalendar('refetchEvents');
        });

    $('#work-shift-tab').on('shown.bs.tab',
        function (e) {
            $('#calendarWorkShift').fullCalendar('refetchEvents');
        });

    $('#work-shift-and-event-tab').on('shown.bs.tab',
        function (e) {
            $('#calendarWorkShiftAndEvent').fullCalendar('refetchEvents');
        });

    $('#event-tab').on('shown.bs.tab',
        function (e) {
            $('#calendarEvent').fullCalendar('refetchEvents');
        });

</script>