﻿@model FitnessClubApp.Web.ViewModels.ForgotPasswordFormViewModel

@{
    ViewBag.Title = "Zmiana hasła";
}

<div class="view-content">
    <h2>Zmiana hasła</h2>

    @using (Html.BeginForm())
    {
        <div class="form-horizontal">

            <hr />

            <div class="form-group">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "E-mail" } })
                @Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="row align-items-center">
                    <div class="col mb-2">
                        <input type="submit" value="Dalej" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    }

</div>







