﻿@model FitnessClubApp.Web.ViewModels.LoginFormViewModel

@{
    ViewBag.Title = "Logowanie";
}

<div class="view-content">
    <h2>Logowanie</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr/>

            <div class="form-group">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Login (e-mail)" } })
            </div>

            <div class="form-group">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Hasło" } })
            </div>

            <div class="form-group">
                <div class="form-check">
                    @Html.CheckBoxFor(model => model.RememberMe, new { htmlAttributes = new { @class = "form-check-input" } })
                    <label class="form-check-label">
                        Zapamiętaj mnie
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="row align-items-center">
                    <div class="col mb-2">
                        <input type="submit" value="Zaloguj się" class="btn btn-primary"/>
                    </div>
                    <div class="col-auto">
                        @Html.ActionLink("Nie pamiętasz hasła?", "ForgotPassword", "User", new { area = string.Empty }, new { @class = "pr-4" })
                        @Html.ActionLink("Załóż konto", "Registration", "User", new { area = string.Empty })
                    </div>
                </div>
            </div>
        </div>
    }

</div>

