﻿@model FitnessClubApp.Model.User

@{
    ViewBag.Title = "Profil użytkownika";
}

<div class="view-content">
    <h2>Profil użytkownika</h2>

    <hr />

    <div class="py-3"></div>

    <p>Data dołączenia <strong>@($"{Model.DateCreated:dd.MM.yyyy HH:mm}")</strong></p>
    <p>Status <strong>@(Model.IsEmailVerified ? "Aktywny" : "Nieaktywny")</strong></p>
    <p>Uprawnienia <strong>@Model.UserRole.PolishName</strong></p>
    <br />

    <p>Imię i nazwisko <strong>@Model.FirstName @Model.LastName</strong></p>
    <p>Data urodzenia <strong>@($"{Model.DateOfBirth:dd.MM.yyyy}")</strong></p>
    <p>Płeć <strong>@(Model.Male ? "Mężczyzna" : "Kobieta")</strong></p>
    <p>Adres e-mail <strong>@Model.Email</strong></p>
    <p>Numer telefonu <strong>@Model.PhoneNumber</strong></p>

    <br />

    @Html.ActionLink("Zmień hasło", "ChangePassword")

    <div class="py-3"></div>

</div>

