﻿@model FitnessClubApp.Web.ViewModels.RegisterUserFormViewModel
@{
    ViewBag.Title = "Rejestracja użytkownika";
}
<div class="view-content">
    <h2>Rejestracja użytkownika</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Imię" } })
                    @Html.ValidationMessageFor(model => model.FirstName, string.Empty, new { @class = "text-danger" })
                </div>
                <div class="col-md-6 mb-3">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Nazwisko" } })
                    @Html.ValidationMessageFor(model => model.LastName, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "E-mail" } })
                @Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class = "text-danger" })
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><span class="font-weight-bold">+48</span></div>
                        </div>
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Numer telefonu" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.PhoneNumber, string.Empty, new { @class = "text-danger" })
                </div>
                <div class="col mb-3">
                    <div class="input-group date mb-1" id="date-of-birth-picker" data-target-input="nearest">
                        @Html.EditorFor(model => model.DateOfBirth, new
                        {
                            htmlAttributes = new
                            {
                                @class = "form-control datetimepicker-input",
                                data_target = "#date-of-birth-picker",
                                placeholder = "Data urodzin",
                            }
                        })
                        <div class="input-group-append" data-target="#date-of-birth-picker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.DateOfBirth, string.Empty, new { @class = "text-danger" })
                </div>
                <div class="col-auto mb-3">
                    <label class="mr-2 ml-1" style="font-size: 1rem; color: #495057">Płeć</label>
                    <div class="btn-group btn-group-toggle mb-1" data-toggle="buttons">
                        <label class="btn btn-light @(Model?.Male != null && Model.Male.Value ? "active focus" : string.Empty)" onchange="selectGender" id="label_gender_male" style="border-color: rgb(206, 212, 218)">
                            @Html.RadioButtonFor(model => model.Male, true, new { name = "Gender", id = "gender_male", onchange = "selectGender" }) Mężczyzna
                        </label>
                        <label class="btn btn-light @(Model?.Male != null && !Model.Male.Value ? "active focus" : string.Empty)" onchange="selectGender" id="label_gender_female" style="border-color: rgb(206, 212, 218); border-top-right-radius: 4px; border-bottom-right-radius: 4px;">
                            @Html.RadioButtonFor(model => model.Male, false, new { name = "Gender", id = "gender_female", onchange="selectGender" }) Kobieta
                        </label>
                    </div>
                    @Html.ValidationMessageFor(model => model.Male, string.Empty, new { @class = "text-danger d-block", style = "margin-left: 47px" })
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Hasło" } })
                    @Html.ValidationMessageFor(model => model.Password, string.Empty, new { @class = "text-danger" })
                </div>
                <div class="col-md-6 mb-3">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Potwierdź hasło" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    @Html.CheckBoxFor(model => model.IsAcceptedRules, new { htmlAttributes = new { @class = "form-check-input" } })
                    <label class="form-check-label">
                        Oświadczam, że znam i akceptuję postanowienia regulaminu klubu
                    </label>
                </div>
                @Html.ValidationMessageFor(model => model.IsAcceptedRules, string.Empty, new { @class = "text-danger" })
            </div>
            <button class="btn btn-primary" type="submit">Załóż konto</button>
        </div>
    }
</div>

<script>
    function selectGender(e) {
        console.log(e);
    }
</script>