﻿@model FitnessClubApp.Web.ViewModels.ResetPasswordFormViewModel

@{
    ViewBag.Title = "Resetowanie hasła";
}

<div class="view-content">
    <h2>Resetowanie hasła</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />

            <div class="form-group">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Nowe hasło" } })
                @Html.ValidationMessageFor(model => model.NewPassword, string.Empty, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Potwierdź nowe hasło" } })
                @Html.ValidationMessageFor(model => model.ConfirmNewPassword, string.Empty, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.HiddenFor(model => model.ResetPasswordCode)
            </div>

            <div class="form-group">
                <div class="row align-items-center">
                    <div class="col mb-2">
                        <input type="submit" value="Zmień hasło" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    }

</div>



