﻿@{
    ViewBag.Title = "Statystyki - Wejścia do klubu według wieku";
}

<h2>Statystyki (wejścia do klubu według wieku)</h2>
<hr />

<div id="dailyAmountTypesOfSales">
    @{ Html.RenderPartial("_DailyRegisteredEntriesByDateOfBirthGraph"); }
</div>

<div id="monthlyAmountTypesOfSales">
    @{ Html.RenderPartial("_MonthlyRegisteredEntriesByDateOfBirthGraph"); }
</div>

<div id="annualAmountTypesOfSales">
    @{ Html.RenderPartial("_AnnualRegisteredEntriesByDateOfBirthGraph"); }
</div>

<div class="py-4"></div>
