﻿<h4 class="text-center mb-3">
    Liczba zarejestrowanych wejść do klubu w rocznym zestawieniu
</h4>

<div id="annualRegisteredEntriesFormDiv" data-html2canvas-ignore="true">
    @{ Html.RenderAction("AnnualRegisteredEntriesForm"); }
</div>

<div id="annualRegisteredEntriesDiv">
    <canvas id="annualRegisteredEntriesChart" class="mb-4" width="450" height="180"></canvas>
</div>
<script>
    var annualTypesLabels = [];

    $.get("@Url.Action("DefaultAnnualRegisteredEntries")", function (data) {
        annualTypesLabels = data.data.labels;
        var annualRegisteredEntriesCtx = document.getElementById("annualRegisteredEntriesChart").getContext('2d');
        var annualRegisteredEntriesChart = new Chart(annualRegisteredEntriesCtx, {
            type: data.type,
            data: data.data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>
