﻿<h4 class="text-center mb-3">
    Liczba zarejestrowanych wejść do klubu w dziennym zestawieniu
</h4>

<div id="dailyRegisteredEntriesFormDiv" data-html2canvas-ignore="true">
    @{ Html.RenderAction("DailyRegisteredEntriesForm"); }
</div>

<div id="dailyRegisteredEntriesDiv">
    <canvas id="dailyRegisteredEntriesChart" class="mb-4" width="450" height="180"></canvas>
</div>
<script>
    var labels = [];

    $.get("@Url.Action("DefaultRegisteredEntries")", function (data) {
        labels = data.data.labels;
        var dailyRegisteredEntriesCtx = document.getElementById("dailyRegisteredEntriesChart").getContext('2d');
        var dailyRegisteredEntriesChart = new Chart(dailyRegisteredEntriesCtx, {
            type: data.type,
            data: data.data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>
