﻿@model FitnessClubApp.Web.Areas.Management.ViewModels.DailyAmountOfSalesFormViewModel

@using (Ajax.BeginForm("RenderRegisteredEntries", new { }, new AjaxOptions
{
    HttpMethod = "POST",
    OnComplete = "$.validator.unobtrusive.parse(\"#dailyRegisteredEntriesForm\")",
    OnFailure = "dailyRegisteredEntriesOnFailure",
    OnSuccess = "dailyRegisteredEntriesOnSuccess"
}, new { id = "dailyRegisteredEntriesForm" }))
{
    <div class="row">

        <div class="form-group col">
            @Html.LabelFor(model => model.StartDate, "Data początkowa")
            <div class="input-group date mb-1" id="dailyRegisteredEntries-start-date-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.StartDate, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#dailyRegisteredEntries-start-date-picker",
                        placeholder = "Data początkowa"
                    }
                })
                <div class="input-group-append" data-target="#dailyRegisteredEntries-start-date-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.StartDate, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group col">
            @Html.LabelFor(model => model.EndDate, "Data końcowa")
            <div class="input-group date mb-1" id="dailyRegisteredEntries-end-date-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.EndDate, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#dailyRegisteredEntries-end-date-picker",
                        placeholder = "Data końcowa"
                    }
                })
                <div class="input-group-append" data-target="#dailyRegisteredEntries-end-date-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.EndDate, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group col-auto">
            @Html.LabelFor(model => model.TypeOfGraph, "Typ grafu")
            @Html.DropDownListFor(model => model.TypeOfGraph, Model.GraphTypes, new { @class = "form-control mb-1" })
            @Html.ValidationMessageFor(model => model.TypeOfGraph, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group col-auto">
            @Html.Label("​​​‎‎‎‎  ")
            <button type="submit" class="form-control btn btn-secondary">Generuj</button>
            @Html.ValidationMessageFor(model => model.TypeOfGraph, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group col-auto">
            @Html.Label("​​​‎‎‎‎  ")
            <button type="button" id="dailyRegisteredEntriesPDF" class="form-control btn btn-secondary"><i class="fas fa-file-pdf"></i></button>
            @Html.ValidationMessageFor(model => model.TypeOfGraph, string.Empty, new { @class = "text-danger" })
        </div>

    </div>
}

<script>
    $('#dailyRegisteredEntries-start-date-picker').datetimepicker({
        locale: 'pl',
        format: 'L',
        icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar-alt'
        },
        minDate: '2000-01-01'
    });

    $('#dailyRegisteredEntries-end-date-picker').datetimepicker({
        locale: 'pl',
        format: 'L',
        icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar-alt'
        },
        minDate: '2000-01-01'
    });

    function dailyRegisteredEntriesOnFailure(e) {
        console.log(e);
        var html = e.responseText;
        $('#dailyRegisteredEntriesFormDiv').html(html);
    }

    function dailyRegisteredEntriesOnSuccess(e) {
        labels = e.data.labels;
        $('#dailyRegisteredEntriesChart').remove();
        $('#dailyRegisteredEntriesDiv').append('<canvas id="dailyRegisteredEntriesChart" class="mb-4" width="450" height="180"></canvas>');
        var canvas = document.getElementById("dailyRegisteredEntriesChart");
        var dailyRegisteredEntriesCtx = canvas.getContext('2d');
        dailyRegisteredEntriesCtx.clearRect(0, 0, canvas.width, canvas.height);
        var dailyRegisteredEntriesChart = new Chart(dailyRegisteredEntriesCtx, {
            type: e.type,
            data: e.data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }

    $('#dailyRegisteredEntriesPDF').click(function () {
            html2canvas($("#dailyRegisteredEntries")[0],
            {
                dpi: 300 // Set to 300 DPI
            }).then(canvas => {
                var imgData = canvas.toDataURL("image/jpeg", 1);
                var doc = new jsPDF('l', 'mm', 'a4');

                var width = doc.internal.pageSize.getWidth() - 20;
                var height = (doc.internal.pageSize.getHeight() - doc.internal.pageSize.getHeight()/3) - 20;

                doc.addImage(imgData, 'JPEG', 15, 40, width, height);
                doc.save('Wejścia do klubu ' + labels[0] + ' - ' + labels[labels.length - 1] + '.pdf');
            });
        });
</script>
