﻿<h4 class="text-center mb-3">
    Liczba zarejestrowanych wejść do klubu w miesięcznym zestawieniu
</h4>

<div id="monthlyRegisteredEntriesFormDiv" data-html2canvas-ignore="true">
    @{ Html.RenderAction("MonthlyRegisteredEntriesForm"); }
</div>

<div id="monthlyRegisteredEntriesDiv">
    <canvas id="monthlyRegisteredEntriesChart" class="mb-4" width="450" height="180"></canvas>
</div>
<script>
    var monthlyTypesLabels = [];

    $.get("@Url.Action("DefaultMonthlyRegisteredEntries")", function (data) {
        monthlyTypesLabels = data.data.labels;
        var monthlyRegisteredEntriesCtx = document.getElementById("monthlyRegisteredEntriesChart").getContext('2d');
        var monthlyRegisteredEntriesChart = new Chart(monthlyRegisteredEntriesCtx, {
            type: data.type,
            data: data.data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>
