﻿@model FitnessClubApp.Web.Areas.Management.ViewModels.MonthlyAmountOfSalesFormViewModel


@using (Ajax.BeginForm("RenderMonthlyRegisteredEntries", new { }, new AjaxOptions
{
    HttpMethod = "POST",
    OnComplete = "$.validator.unobtrusive.parse(\"#monthlyRegisteredEntriesForm\")",
    OnFailure = "monthlyRegisteredEntriesOnFailure",
    OnSuccess = "monthlyRegisteredEntriesOnSuccess"
}, new { id = "monthlyRegisteredEntriesForm" }))
{
    <div class="row">

        <div class="form-group col">
            @Html.LabelFor(model => model.StartDate, "Miesiąc początkowy")
            <div class="input-group date mb-1" id="monthlyRegisteredEntries-start-date-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.StartDate, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#monthlyRegisteredEntries-start-date-picker",
                        placeholder = "Miesiąc początkowy",
                    }
                })
                <div class="input-group-append" data-target="#monthlyRegisteredEntries-start-date-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.StartDate, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group col">
            @Html.LabelFor(model => model.EndDate, "Miesiąc końcowy")
            <div class="input-group date mb-1" id="monthlyRegisteredEntries-end-date-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.EndDate, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#monthlyRegisteredEntries-end-date-picker",
                        placeholder = "Miesiąc końcowy",
                    }
                })
                <div class="input-group-append" data-target="#monthlyRegisteredEntries-end-date-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.EndDate, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group col-auto">
            @Html.LabelFor(model => model.TypeOfGraph, "Typ grafu")
            @Html.DropDownListFor(model => model.TypeOfGraph, Model.GraphTypes, new { @class = "form-control mb-1" })
            @Html.ValidationMessageFor(model => model.TypeOfGraph, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group col-auto">
            @Html.Label("​​​‎‎‎‎  ")
            <button type="submit" class="form-control btn btn-secondary">Generuj</button>
            @Html.ValidationMessageFor(model => model.TypeOfGraph, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group col-auto">
            @Html.Label("​​​‎‎‎‎  ")
            <button type="button" id="monthlyRegisteredEntriesPDF" class="form-control btn btn-secondary"><i class="fas fa-file-pdf"></i></button>
            @Html.ValidationMessageFor(model => model.TypeOfGraph, string.Empty, new { @class = "text-danger" })
        </div>

    </div>
}

<script>
    $('#monthlyRegisteredEntries-start-date-picker').datetimepicker({
        locale: 'pl',
        format: 'MM.YYYY',
        viewMode: 'months',
        icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar-alt'
        },
        minDate: '2000-01-01'
    });

    $('#monthlyRegisteredEntries-end-date-picker').datetimepicker({
        locale: 'pl',
        format: 'MM.YYYY',
        viewMode: 'months',
        icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar-alt'
        },
        minDate: '2000-01-01'
    });

    function monthlyRegisteredEntriesOnFailure(e) {
        var html = e.responseText;
        $('#monthlyRegisteredEntriesFormDiv').html(html);
    }

    function monthlyRegisteredEntriesOnSuccess(e) {
        monthlyTypesLabels = e.data.labels;
        $('#monthlyRegisteredEntriesChart').remove();
        $('#monthlyRegisteredEntriesDiv').append('<canvas id="monthlyRegisteredEntriesChart" class="mb-4" width="450" height="180"></canvas>');
        var canvas = document.getElementById("monthlyRegisteredEntriesChart");
        var monthlyRegisteredEntriesCtx = canvas.getContext('2d');
        monthlyRegisteredEntriesCtx.clearRect(0, 0, canvas.width, canvas.height);
        var monthlyRegisteredEntriesChart = new Chart(monthlyRegisteredEntriesCtx, {
            type: e.type,
            data: e.data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }

    $('#monthlyRegisteredEntriesPDF').click(function () {
        html2canvas($("#monthlyRegisteredEntries")[0],
            {
                dpi: 300 // Set to 300 DPI
            }).then(canvas => {
                var imgData = canvas.toDataURL("image/jpeg", 1);
                var doc = new jsPDF('l', 'mm', 'a4');

                var width = doc.internal.pageSize.getWidth() - 20;
                var height = (doc.internal.pageSize.getHeight() - doc.internal.pageSize.getHeight()/3) - 20;

                doc.addImage(imgData, 'JPEG', 15, 40, width, height);
                doc.save('Wejścia do klubu ' + monthlyTypesLabels[0] + ' - ' + monthlyTypesLabels[monthlyTypesLabels.length - 1] + '.pdf');
            });
        });
</script>
