﻿@{
    ViewBag.Title = "Statystyki - Wejścia do klubu";
}

<h2>Statystyki (wejścia do klubu)</h2>
<hr />

<div id="dailyRegisteredEntries">
    @{ Html.RenderPartial("_DailyRegisteredEntriesGraph"); }
</div>

<div id="monthlyRegisteredEntries">
    @{ Html.RenderPartial("_MonthlyRegisteredEntriesGraph"); }
</div>

<div id="annualRegisteredEntries">
    @{ Html.RenderPartial("_AnnualRegisteredEntriesGraph"); }
</div>

<div class="py-4"></div>
