﻿<h4 class="text-center mb-3">
    Roczna sprzedaż subskrypcji
</h4>

<div id="annualAmountOfSalesFormDiv" data-html2canvas-ignore="true">
    @{ Html.RenderAction("AnnualAmountOfSalesForm"); }
</div>

<div id="annualAmountOfSalesDiv">
    <canvas id="annualAmountOfSalesChart" class="mb-4" width="450" height="180"></canvas>
</div>
<script>
    var annualLabels = [];

    $.get("@Url.Action("DefaultAnnualAmountOfSales")", function (data) {
        annualLabels = data.data.labels;
        var annualAmountOfSalesCtx = document.getElementById("annualAmountOfSalesChart").getContext('2d');
        var annualAmountOfSalesChart = new Chart(annualAmountOfSalesCtx, {
            type: data.type,
            data: data.data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>
