﻿<h4 class="text-center mb-3">
    Dzienna sprzedaż subskrypcji
</h4>

<div id="dailyAmountOfSalesFormDiv" data-html2canvas-ignore="true">
    @{ Html.RenderAction("DailyAmountOfSalesForm"); }
</div>

<div id="dailyAmountOfSalesDiv">
    <canvas id="dailyAmountOfSalesChart" class="mb-4" width="450" height="180"></canvas>
</div>
<script>
    var labels = [];

    $.get("@Url.Action("DefaultDailyAmountOfSales")", function (data) {
        labels = data.data.labels;
        var dailyAmountOfSalesCtx = document.getElementById("dailyAmountOfSalesChart").getContext('2d');
        var dailyAmountOfSalesChart = new Chart(dailyAmountOfSalesCtx, {
            type: data.type,
            data: data.data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>
