﻿<h4 class="text-center mb-3">
    Miesięczna sprzedaż subskrypcji
</h4>

<div id="monthlyAmountOfSalesFormDiv" data-html2canvas-ignore="true">
    @{ Html.RenderAction("MonthlyAmountOfSalesForm"); }
</div>

<div id="monthlyAmountOfSalesDiv">
    <canvas id="monthlyAmountOfSalesChart" class="mb-4" width="450" height="180"></canvas>
</div>
<script>
    var monthlyLabels = [];

    $.get("@Url.Action("DefaultMonthlyAmountOfSales")", function (data) {
        monthlyLabels = data.data.labels;
        var monthlyAmountOfSalesCtx = document.getElementById("monthlyAmountOfSalesChart").getContext('2d');
        var monthlyAmountOfSalesChart = new Chart(monthlyAmountOfSalesCtx, {
            type: data.type,
            data: data.data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>
