﻿@{
    ViewBag.Title = "Statystyki - Liczba transakcji";
}

<h2>Statystyki (liczba transakcji)</h2>
<hr />

<div id="dailyAmountOfSales">
    @{ Html.RenderPartial("_DailyAmountOfSalesGraph"); }
</div>

<div id="monthlyAmountOfSales">
    @{ Html.RenderPartial("_MonthlyAmountOfSalesGraph"); }
</div>

<div id="annualAmountOfSales">
    @{ Html.RenderPartial("_AnnualAmountOfSalesGraph"); }
</div>

<div class="py-4"></div>
