﻿@model FitnessClubApp.Model.Event

<div class="modal fade" id="modalConfirmationRemoveEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Usunięcie zajęć</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Ajax.BeginForm("ConfirmationRemoveEvent", new { eventID = Model.EventID },
                new AjaxOptions() { HttpMethod = "POST", OnSuccess = "$('#modalConfirmationRemoveEvent').modal('hide'); $('#calendar').fullCalendar('refetchEvents');" }, new { id = "confirmationRemoveEvent" }))
            {
                <div class="modal-body">
                    <span class="badge badge-info">Uwaga!</span><span class="text-muted"> Zarezerwowane miejsca na te zajęcia zostaną usunięte.</span>
                    <div class="py-2"></div>

                    Czy na pewno chcesz usunąć zajęcia <b>@Model.Name (@($"{Model.StartDate:dd.MM.yyyy HH:mm}") - @($"{Model.EndDate:dd.MM.yyyy HH:mm}"))</b>?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Usuń</button>
                </div>
            }

        </div>
    </div>
</div>
