﻿@model FitnessClubApp.Model.WorkShift

<div class="modal fade" id="modalConfirmationRemoveWorkShift" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Usunięcie dyżuru</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Ajax.BeginForm("ConfirmationRemoveWorkShift", new { workShiftID = Model.WorkShiftID },
                new AjaxOptions() { HttpMethod = "POST", OnSuccess = "$('#modalConfirmationRemoveWorkShift').modal('hide'); $('#calendar').fullCalendar('refetchEvents');" }, new { id = "confirmationRemoveWorkShift" }))
            {
                <div class="modal-body">
                    <span class="badge badge-info">Uwaga!</span><span class="text-muted"> Ustalone zajęcia na tym dyżurze zostaną usunięte wraz z zarezerwowanymi miejscami.</span>
                    <div class="py-2"></div>

                    Czy na pewno chcesz usunąć dyżur <b>@Model.User.FirstName @Model.User.LastName (@($"{Model.StartDate:dd.MM.yyyy HH:mm}") - @($"{Model.EndDate:dd.MM.yyyy HH:mm}"))</b>?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Usuń</button>
                </div>
            }

        </div>
    </div>
</div>
