﻿@model FitnessClubApp.Model.Event

    <div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelEvent">Szczegóły zajęć</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="form-group">
                        <label>Nazwa zajęć</label>
                        <strong>@Model.Name</strong>
                    </div>

                    <div class="form-group">
                        <label>Data rozpoczęcia</label>
                        <strong>@($"{Model.StartDate:dd.MM.yyyy HH:mm}")</strong>
                    </div>

                    <div class="form-group">
                        <label>Data zakończenia</label>
                        <strong>@($"{Model.EndDate:dd.MM.yyyy HH:mm}")</strong>
                    </div>

                    <div class="form-group">
                        <label>Sala</label>
                        <strong>@Model.Room.Name</strong>
                    </div>

                    <div class="form-group">
                        <label>Prowadzący zajęcia</label>
                        <strong>@($"{Model.WorkShift.User.FirstName} {Model.WorkShift.User.LastName}")</strong>
                    </div>

                    <div class="form-group">
                        <label>Zajętość</label>
                        <strong>@Model.UsersOnEvent.Count / @Model.LimitOfPlaces</strong>
                    </div>

                </div>
                <div class="modal-footer">
                    @Ajax.ActionLink(
                        linkText: "Edytuj",
                        actionName: "EditEvent",
                        routeValues: new { eventID = Model.EventID },
                        ajaxOptions: new AjaxOptions
                        {
                            HttpMethod = "GET",
                            UpdateTargetId = "edit",
                            OnSuccess = "$('#modalDetails').modal('hide'); $('#details').empty(); $('.modal-backdrop').remove(); $('#modalEditEvent').modal({backdrop: 'static', keyboard: false});  $.validator.unobtrusive.parse(\"#editEventForm\");"
                        },
                        htmlAttributes: new {@class = "btn btn-primary" })
                    @Ajax.ActionLink(
                        linkText: "Usuń",
                        actionName: "RemoveEvent",
                        routeValues: new { eventID = Model.EventID },
                        ajaxOptions: new AjaxOptions
                        {
                            HttpMethod = "GET",
                            UpdateTargetId = "remove",
                            OnSuccess = "$('#modalDetails').modal('hide'); $('#details').empty(); $('.modal-backdrop').remove(); $('#modalConfirmationRemoveEvent').modal({backdrop: 'static', keyboard: false});"
                        },
                        htmlAttributes: new {@class = "btn btn-danger" })
                </div>

            </div>
        </div>
    </div>
