﻿@model FitnessClubApp.Web.Areas.Management.ViewModels.DisposableEventFormViewModel

@using (Ajax.BeginForm("AddDisposableEvent", new { }, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "disposable-event",
    OnComplete = "$.validator.unobtrusive.parse(\"#disposableEventForm\")",
    OnFailure = "disposableEventOnFailure",
    OnSuccess = "$('#modalEventForm').modal('hide'); $('#disposableEventForm').find('#WorkerID').val(null); $('#disposableEventForm').find('#Name').val(null); $('#disposableEventForm').find('#RoomID').val(null); $('#calendar').fullCalendar('refetchEvents');"
}, new { id = "disposableEventForm" }))
{
    <div class="modal-body">

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Nazwa zajęć")
            @Html.DropDownListFor(model => model.Name, Model.Trainings, "Wybierz nazwę zajęć", new { @class = "form-control mb-1" })
            @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, "Data rozpoczęcia zajęć")
            <div class="input-group date mb-1" id="disposable-event-start-date-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.StartDate, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#disposable-event-start-date-picker",
                        placeholder = "Data rozpoczęcia",
                    }
                })
                <div class="input-group-append" data-target="#disposable-event-start-date-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.StartDate, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, "Data zakończenia zajęć")
            <div class="input-group date mb-1" id="disposable-event-end-date-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.EndDate, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#disposable-event-end-date-picker",
                        placeholder = "Data zakończenia",
                    }
                })
                <div class="input-group-append" data-target="#disposable-event-end-date-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.EndDate, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkerID, "Pracownik")
            @Html.DropDownListFor(model => model.WorkerID, Model.Workers, "Wybierz pracownika", new { @class = "form-control mb-1" })
            @Html.ValidationMessageFor(model => model.WorkerID, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomID, "Sala")
            @Html.DropDownListFor(model => model.RoomID, Model.Rooms, "Wybierz salę", new { @class = "form-control mb-1" })
            @Html.ValidationMessageFor(model => model.RoomID, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LimitOfPlaces, "Liczba miejsc")
            @Html.EditorFor(model => model.LimitOfPlaces, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Liczba miejsc" } })
            @Html.ValidationMessageFor(model => model.LimitOfPlaces, string.Empty, new { @class = "text-danger" })
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
}

@if (string.IsNullOrEmpty(Model.StartDate) && string.IsNullOrEmpty(Model.EndDate))
{
    <script>
        var disposableEventStartDate = new Date($('#calendar').fullCalendar('getView').start.toDate().getTime());
        disposableEventStartDate.setHours(10);

        $('#disposable-event-start-date-picker').datetimepicker({
            locale: 'pl',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            date: disposableEventStartDate,
            minDate: '2000-01-01'
        });

        var disposableEventEndDate = new Date(disposableEventStartDate.getTime());
        disposableEventEndDate.setHours(11);

        $('#disposable-event-end-date-picker').datetimepicker({
            locale: 'pl',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            date: disposableEventEndDate,
            minDate: '2000-01-01'
        });

        function disposableEventOnFailure(e) {
            var html = e.responseText;
            $('#disposable-event').html(html);
        }
    </script>
}
else
{
    <script>
        $('#disposable-event-start-date-picker').datetimepicker({
            locale: 'pl',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            minDate: '2000-01-01'
        });

        $('#disposable-event-end-date-picker').datetimepicker({
            locale: 'pl',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            minDate: '2000-01-01'
        });

        function disposableEventOnFailure(e) {
            var html = e.responseText;
            $('#disposable-event').html(html);
        }
    </script>
}

