﻿@model FitnessClubApp.Web.Areas.Management.ViewModels.DisposableWorkShiftFormViewModel

@using (Ajax.BeginForm("AddDisposableWorkShift", new { }, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "disposable-work-shift",
    OnComplete = "$.validator.unobtrusive.parse(\"#disposableWorkShiftForm\")",
    OnFailure = "disposableWorkShiftOnFailure",
    OnSuccess = "$('#modalWorkShiftForm').modal('hide'); $('#disposableWorkShiftForm').find('#WorkerID').val(null); $('#calendar').fullCalendar('refetchEvents');"
}, new { id = "disposableWorkShiftForm" }))
{
    <div class="modal-body">

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, "Data rozpoczęcia dyżuru")
            <div class="input-group date mb-1" id="disposable-work-shift-start-date-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.StartDate, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#disposable-work-shift-start-date-picker",
                        placeholder = "Data rozpoczęcia",
                    }
                })
                <div class="input-group-append" data-target="#disposable-work-shift-start-date-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.StartDate, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, "Data zakończenia dyżuru")
            <div class="input-group date mb-1" id="disposable-work-shift-end-date-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.EndDate, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#disposable-work-shift-end-date-picker",
                        placeholder = "Data zakończenia",
                    }
                })
                <div class="input-group-append" data-target="#disposable-work-shift-end-date-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.EndDate, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkerID, "Pracownik")
            @Html.DropDownListFor(model => model.WorkerID, Model.Workers, "Wybierz pracownika", new { @class = "form-control mb-1" })
            @Html.ValidationMessageFor(model => model.WorkerID, string.Empty, new { @class = "text-danger" })
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
}
@if (string.IsNullOrEmpty(Model.StartDate) && string.IsNullOrEmpty(Model.EndDate))
{
    <script>
        var disposableStartDate = new Date($('#calendar').fullCalendar('getView').start.toDate().getTime());
        disposableStartDate.setHours(6);

        $('#disposable-work-shift-start-date-picker').datetimepicker({
            locale: 'pl',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            date: disposableStartDate,
            minDate: '2000-01-01'
        });

        var disposableEndDate = new Date(disposableStartDate.getTime());
        disposableEndDate.setHours(14);

        $('#disposable-work-shift-end-date-picker').datetimepicker({
            locale: 'pl',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            date: disposableEndDate,
            minDate: '2000-01-01'
        });

        function disposableWorkShiftOnFailure(e) {
            var html = e.responseText;
            $('#disposable-work-shift').html(html);
        }
    </script>
}
else
{
    <script>
        $('#disposable-work-shift-start-date-picker').datetimepicker({
            locale: 'pl',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            minDate: '2000-01-01'
        });

        $('#disposable-work-shift-end-date-picker').datetimepicker({
            locale: 'pl',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            minDate: '2000-01-01'
        });

        function disposableWorkShiftOnFailure(e) {
            var html = e.responseText;
            $('#disposable-work-shift').html(html);
        }
    </script>
}
