﻿@model FitnessClubApp.Model.WorkShift

<div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelEvent">Szczegóły dyżuru</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <label>Data rozpoczęcia</label>
                    <strong>@($"{Model.StartDate:dd.MM.yyyy HH:mm}")</strong>
                </div>

                <div class="form-group">
                    <label>Data zakończenia</label>
                    <strong>@($"{Model.EndDate:dd.MM.yyyy HH:mm}")</strong>
                </div>

                <div class="form-group">
                    <label>Pracownik</label>
                    <strong>@($"{Model.User.FirstName} {Model.User.LastName} ({Model.User.UserRole.PolishName})")</strong>
                </div>
                
                @if (Model.User.UserRole.Name == "Trainer")
                {
                    <div class="form-group">
                        <label>Liczba zajęć w czasie dyżuru</label>
                        <strong>@Model.Events.Count</strong>
                    </div>
                }

            </div>
            <div class="modal-footer">
                @Ajax.ActionLink(
                    linkText: "Edytuj",
                    actionName: "EditWorkShift",
                    routeValues: new { workShiftID = Model.WorkShiftID },
                    ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "edit",
                        OnSuccess = "$('#modalDetails').modal('hide'); $('#details').empty(); $('.modal-backdrop').remove(); $('#modalEditWorkShift').modal({backdrop: 'static', keyboard: false}); $.validator.unobtrusive.parse(\"#editWorkShiftForm\");"
                    },
                    htmlAttributes: new {@class = "btn btn-primary" })
                @Ajax.ActionLink(
                    linkText: "Usuń",
                    actionName: "RemoveWorkShift",
                    routeValues: new { workShiftID = Model.WorkShiftID },
                    ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "remove",
                        OnSuccess = "$('#modalDetails').modal('hide'); $('#details').empty(); $('.modal-backdrop').remove(); $('#modalConfirmationRemoveWorkShift').modal({backdrop: 'static', keyboard: false});"
                    },
                    htmlAttributes: new {@class = "btn btn-danger" })
            </div>

        </div>
    </div>
</div>
