﻿@model FitnessClubApp.Web.Areas.Management.ViewModels.EditEventFormViewModel

<div class="modal fade" id="modalEditEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edycja zajęć</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Ajax.BeginForm("EditEvent", new { }, new AjaxOptions
            {
                HttpMethod = "POST",
                OnComplete = "$.validator.unobtrusive.parse(\"#editEventForm\")",
                OnFailure = "editEventOnFailure",
                OnSuccess = "$('#modalEditEvent').modal('hide'); $('#editEventForm').find('#WorkerID').val(null); $('#editEventForm').find('#Name').val(null); $('#editEventForm').find('#RoomID').val(null); $('#calendar').fullCalendar('refetchEvents');"
            }, new { id = "editEventForm" }))
            {
                <div class="modal-body">
                    
                    <span class="badge badge-info">Uwaga!</span><span class="text-muted"> Zarezerwowane miejsca na te zajęcia zostaną usunięte.</span>
                    <div class="py-2"></div>

                    @Html.HiddenFor(model => model.EventID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, "Nazwa zajęć")
                        @Html.DropDownListFor(model => model.Name, Model.Trainings, "Wybierz nazwę zajęć", new {@class = "form-control mb-1"})
                        @Html.ValidationMessageFor(model => model.Name, string.Empty, new {@class = "text-danger"})
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDate, "Data rozpoczęcia zajęć")
                        <div class="input-group date mb-1" id="edit-event-start-date-picker" data-target-input="nearest">
                            @Html.EditorFor(model => model.StartDate, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control datetimepicker-input",
                                    data_target = "#edit-event-start-date-picker",
                                    placeholder = "Data rozpoczęcia",
                                }
                            })
                            <div class="input-group-append" data-target="#edit-event-start-date-picker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.StartDate, string.Empty, new {@class = "text-danger"})
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EndDate, "Data zakończenia zajęć")
                        <div class="input-group date mb-1" id="edit-event-end-date-picker" data-target-input="nearest">
                            @Html.EditorFor(model => model.EndDate, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control datetimepicker-input",
                                    data_target = "#edit-event-end-date-picker",
                                    placeholder = "Data zakończenia",
                                }
                            })
                            <div class="input-group-append" data-target="#edit-event-end-date-picker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.EndDate, string.Empty, new {@class = "text-danger"})
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.WorkerID, "Pracownik")
                        @Html.DropDownListFor(model => model.WorkerID, Model.Workers, "Wybierz pracownika", new {@class = "form-control mb-1"})
                        @Html.ValidationMessageFor(model => model.WorkerID, string.Empty, new {@class = "text-danger"})
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RoomID, "Sala")
                        @Html.DropDownListFor(model => model.RoomID, Model.Rooms, "Wybierz salę", new {@class = "form-control mb-1"})
                        @Html.ValidationMessageFor(model => model.RoomID, string.Empty, new {@class = "text-danger"})
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LimitOfPlaces, "Liczba miejsc")
                        @Html.EditorFor(model => model.LimitOfPlaces, new {htmlAttributes = new {@class = "form-control mb-1", placeholder = "Liczba miejsc"}})
                        @Html.ValidationMessageFor(model => model.LimitOfPlaces, string.Empty, new {@class = "text-danger"})
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                </div>
            }

        </div>
    </div>
</div>

<script>
    $('#edit-event-start-date-picker').datetimepicker({
        locale: 'pl',
        icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar-alt'
        },
        minDate: '2000-01-01'
    });

    $('#edit-event-end-date-picker').datetimepicker({
        locale: 'pl',
        icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar-alt'
        },
        minDate: '2000-01-01'
    });

    function editEventOnFailure(e) {
        $('.modal-backdrop').remove();
        var html = e.responseText;
        $('#edit').html(html);
        $('#modalEditEvent').modal({ backdrop: 'static', keyboard: false });
    }
</script>
