﻿@model FitnessClubApp.Web.Areas.Management.ViewModels.EditWorkShiftFormViewModel

<div class="modal fade" id="modalEditWorkShift" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edycja dyżuru</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Ajax.BeginForm("EditWorkShift", new { }, new AjaxOptions
            {
                HttpMethod = "POST",
                OnComplete = "$.validator.unobtrusive.parse(\"#editWorkShiftForm\")",
                OnFailure = "editWorkShiftOnFailure",
                OnSuccess = "$('#modalEditWorkShift').modal('hide'); $('#editWorkShiftForm').find('#WorkerID').val(null); $('#calendar').fullCalendar('refetchEvents');"
            }, new { id = "editWorkShiftForm" }))
            {
            <div class="modal-body">

                <span class="badge badge-info">Uwaga!</span><span class="text-muted"> Ustalone zajęcia na tym dyżurze zostaną usunięte wraz z zarezerwowanymi miejscami.</span>
                <div class="py-2"></div>

                @Html.HiddenFor(model => model.WorkShiftID)

                <div class="form-group">
                    @Html.LabelFor(model => model.StartDate, "Data rozpoczęcia dyżuru")
                    <div class="input-group date mb-1" id="edit-work-shift-start-date-picker" data-target-input="nearest">
                        @Html.EditorFor(model => model.StartDate, new
                        {
                            htmlAttributes = new
                            {
                                @class = "form-control datetimepicker-input",
                                data_target = "#edit-work-shift-start-date-picker",
                                placeholder = "Data rozpoczęcia",
                            }
                        })
                        <div class="input-group-append" data-target="#edit-work-shift-start-date-picker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.StartDate, string.Empty, new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EndDate, "Data zakończenia dyżuru")
                    <div class="input-group date mb-1" id="edit-work-shift-end-date-picker" data-target-input="nearest">
                        @Html.EditorFor(model => model.EndDate, new
                        {
                            htmlAttributes = new
                            {
                                @class = "form-control datetimepicker-input",
                                data_target = "#edit-work-shift-end-date-picker",
                                placeholder = "Data zakończenia",
                            }
                        })
                        <div class="input-group-append" data-target="#edit-work-shift-end-date-picker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.EndDate, string.Empty, new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WorkerID, "Pracownik")
                    @Html.DropDownListFor(model => model.WorkerID, Model.Workers, "Wybierz pracownika", new { @class = "form-control mb-1" })
                    @Html.ValidationMessageFor(model => model.WorkerID, string.Empty, new { @class = "text-danger" })
                </div>

            </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                </div>
            }

        </div>
    </div>
</div>

<script>
    $('#edit-work-shift-start-date-picker').datetimepicker({
        locale: 'pl',
        icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar-alt'
        },
        minDate: '2000-01-01'
    });

    $('#edit-work-shift-end-date-picker').datetimepicker({
        locale: 'pl',
        icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar-alt'
        },
        minDate: '2000-01-01'
    });

    function editWorkShiftOnFailure(e) {
        $('.modal-backdrop').remove();
        var html = e.responseText;
        $('#edit').html(html);
        $('#modalEditWorkShift').modal({ backdrop: 'static', keyboard: false });
    }
</script>
