﻿<div class="modal fade" id="modalWorkShiftForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj dyżur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="card">
                <div class="card-header"> 
                    <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="periodic-work-shift-tab" data-toggle="tab" href="#periodic-work-shift" role="tab" aria-controls="periodic-work-shift" aria-selected="true">Cykliczny</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="disposable-work-shift-tab" data-toggle="tab" href="#disposable-work-shift" role="tab" aria-controls="disposable-work-shift" aria-selected="false">Jednorazowy</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body p-0">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="periodic-work-shift" role="tabpanel" aria-labelledby="periodic-work-shift-tab">
                        </div>
                        <div class="tab-pane fade" id="disposable-work-shift" role="tabpanel" aria-labelledby="disposable-work-shift-tab">
                        </div>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
</div>
