﻿@model FitnessClubApp.Web.Areas.Management.ViewModels.PeriodicWorkShiftFormViewModel

@using (Ajax.BeginForm("AddPeriodicWorkShift", new { }, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "periodic-work-shift",
    OnComplete = "$.validator.unobtrusive.parse(\"#periodicWorkShiftForm\")",
    OnFailure = "periodicWorkShiftOnFailure",
    OnSuccess = "$('#modalWorkShiftForm').modal('hide'); $('#periodicWorkShiftForm').find('#WorkerID').val(null); $('#disposableWorkShiftForm').find('#DayOfWeek').val(null); $('#calendar').fullCalendar('refetchEvents');"
}, new { id = "periodicWorkShiftForm" }))
{
    <div class="modal-body">

        <span class="badge badge-info">Uwaga!</span><span class="text-muted"> Jeśli w danym dniu będzie ustalony już dyżur danego pracownika to kolejny nie zostanie dodany. Dyżury będzie można usuwać i edytować tylko pojedynczo.</span>
        <div class="py-2"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, "Data rozpoczęcia cyklu")
            <div class="input-group date mb-1" id="periodic-work-shift-start-date-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.StartDate, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#periodic-work-shift-start-date-picker",
                        placeholder = "Data rozpoczęcia",
                    }
                })
                <div class="input-group-append" data-target="#periodic-work-shift-start-date-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.StartDate, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, "Data zakończenia cyklu")
            <div class="input-group date mb-1" id="periodic-work-shift-end-date-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.EndDate, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#periodic-work-shift-end-date-picker",
                        placeholder = "Data zakończenia",
                    }
                })
                <div class="input-group-append" data-target="#periodic-work-shift-end-date-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.EndDate, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DayOfWeek, "Dzień tygodnia")
            @Html.DropDownListFor(model => model.DayOfWeek, Model.DaysOfWeek, "Wybierz dzień tygodnia", new { @class = "form-control mb-1" })
            @Html.ValidationMessageFor(model => model.DayOfWeek, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, "Godzina rozpoczęcia dyżuru")
            <div class="input-group date mb-1" id="periodic-work-shift-start-time-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.StartTime, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#periodic-work-shift-start-time-picker",
                        placeholder = "Godzina rozpoczęcia",
                    }
                })
                <div class="input-group-append" data-target="#periodic-work-shift-start-time-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.StartTime, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndTime, "Godzina zakończenia dyżuru")
            <div class="input-group date mb-1" id="periodic-work-shift-end-time-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.EndTime, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#periodic-work-shift-end-time-picker",
                        placeholder = "Godzina zakończenia",
                    }
                })
                <div class="input-group-append" data-target="#periodic-work-shift-end-time-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.EndTime, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkerID, "Pracownik")
            @Html.DropDownListFor(model => model.WorkerID, Model.Workers, "Wybierz pracownika", new { @class = "form-control mb-1" })
            @Html.ValidationMessageFor(model => model.WorkerID, string.Empty, new { @class = "text-danger" })
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
}

@if (string.IsNullOrEmpty(Model.StartDate) && string.IsNullOrEmpty(Model.EndDate) && string.IsNullOrEmpty(Model.StartTime) && string.IsNullOrEmpty(Model.EndTime))
{
    <script>
        var periodicStartDate = new Date($('#calendar').fullCalendar('getView').start.toDate().getTime());

        $('#periodic-work-shift-start-date-picker').datetimepicker({
            locale: 'pl',
            format: 'L',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            date: periodicStartDate,
            minDate: '2000-01-01'
        });

        var periodicEndDate = new Date($('#calendar').fullCalendar('getView').start.toDate().getTime());
        periodicEndDate.setDate(periodicEndDate.getDate() + 30);

        $('#periodic-work-shift-end-date-picker').datetimepicker({
            locale: 'pl',
            format: 'L',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            date: periodicEndDate,
            minDate: '2000-01-01'
        });

        var startTime = new Date();
        startTime.setHours(6);
        startTime.setMinutes(0);

        var endTime = new Date();
        endTime.setHours(14);
        endTime.setMinutes(0);

        $('#periodic-work-shift-start-time-picker').datetimepicker({
            locale: 'pl',
            format: 'LT',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            date: startTime,
            minDate: '2000-01-01'
        });

        $('#periodic-work-shift-end-time-picker').datetimepicker({
            locale: 'pl',
            format: 'LT',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            date: endTime,
            minDate: '2000-01-01'
        });

        function periodicWorkShiftOnFailure(e) {
            var html = e.responseText;
            $('#periodic-work-shift').html(html);
        }
    </script>
}
else
{
    <script>
        $('#periodic-work-shift-start-date-picker').datetimepicker({
            locale: 'pl',
            format: 'L',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            minDate: '2000-01-01'
        });

        $('#periodic-work-shift-end-date-picker').datetimepicker({
            locale: 'pl',
            format: 'L',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            minDate: '2000-01-01'
        });

        $('#periodic-work-shift-start-time-picker').datetimepicker({
            locale: 'pl',
            format: 'LT',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            minDate: '2000-01-01'
        });

        $('#periodic-work-shift-end-time-picker').datetimepicker({
            locale: 'pl',
            format: 'LT',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            minDate: '2000-01-01'
        });

        function periodicWorkShiftOnFailure(e) {
            var html = e.responseText;
            $('#periodic-work-shift').html(html);
        }
    </script>
}
