﻿@model FitnessClubApp.Web.Areas.Management.ViewModels.PeriodicEventFormViewModel

@using (Ajax.BeginForm("AddPeriodicEvent", new { }, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "periodic-event",
    OnComplete = "$.validator.unobtrusive.parse(\"#periodicEventForm\")",
    OnFailure = "periodicEventOnFailure",
    OnSuccess = "$('#modalEventForm').modal('hide'); $('#periodicEventForm').find('#WorkerID').val(null); $('#periodicEventForm').find('#DayOfWeek').val(null); $('#periodicEventForm').find('#Name').val(null); $('#periodicEventForm').find('#RoomID').val(null); $('#calendar').fullCalendar('refetchEvents');"
}, new { id = "periodicEventForm" }))
{
    <div class="modal-body">

        <span class="badge badge-info">Uwaga!</span><span class="text-muted"> Jeśli w danym dniu nie będzie ustalonego dyżuru danego pracownika albo sala lub pracownik będą zajęci to zajęcia nie zostaną dodane. Zajęcia będzie można usuwać i edytować tylko pojedynczo.</span>
        <div class="py-2"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Nazwa zajęć")
            @Html.DropDownListFor(model => model.Name, Model.Trainings, "Wybierz nazwę zajęć", new { @class = "form-control mb-1" })
            @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, "Data rozpoczęcia cyklu")
            <div class="input-group date mb-1" id="periodic-event-start-date-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.StartDate, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#periodic-event-start-date-picker",
                        placeholder = "Data rozpoczęcia",
                    }
                })
                <div class="input-group-append" data-target="#periodic-event-start-date-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.StartDate, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, "Data zakończenia cyklu")
            <div class="input-group date mb-1" id="periodic-event-end-date-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.EndDate, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#periodic-event-end-date-picker",
                        placeholder = "Data zakończenia",
                    }
                })
                <div class="input-group-append" data-target="#periodic-event-end-date-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.EndDate, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DayOfWeek, "Dzień tygodnia")
            @Html.DropDownListFor(model => model.DayOfWeek, Model.DaysOfWeek, "Wybierz dzień tygodnia", new { @class = "form-control mb-1" })
            @Html.ValidationMessageFor(model => model.DayOfWeek, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, "Godzina rozpoczęcia zajęć")
            <div class="input-group date mb-1" id="periodic-event-start-time-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.StartTime, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#periodic-event-start-time-picker",
                        placeholder = "Godzina rozpoczęcia",
                    }
                })
                <div class="input-group-append" data-target="#periodic-event-start-time-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.StartTime, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndTime, "Godzina zakończenia zajeć")
            <div class="input-group date mb-1" id="periodic-event-end-time-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.EndTime, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#periodic-event-end-time-picker",
                        placeholder = "Godzina zakończenia",
                    }
                })
                <div class="input-group-append" data-target="#periodic-event-end-time-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.EndTime, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkerID, "Pracownik")
            @Html.DropDownListFor(model => model.WorkerID, Model.Workers, "Wybierz pracownika", new { @class = "form-control mb-1" })
            @Html.ValidationMessageFor(model => model.WorkerID, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomID, "Sala")
            @Html.DropDownListFor(model => model.RoomID, Model.Rooms, "Wybierz salę", new { @class = "form-control mb-1" })
            @Html.ValidationMessageFor(model => model.RoomID, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LimitOfPlaces, "Liczba miejsc")
            @Html.EditorFor(model => model.LimitOfPlaces, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Liczba miejsc" } })
            @Html.ValidationMessageFor(model => model.LimitOfPlaces, string.Empty, new { @class = "text-danger" })
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
}

@if (string.IsNullOrEmpty(Model.StartDate) && string.IsNullOrEmpty(Model.EndDate) && string.IsNullOrEmpty(Model.StartTime) && string.IsNullOrEmpty(Model.EndTime))
{
    <script>
        var periodicEventStartDate = new Date($('#calendar').fullCalendar('getView').start.toDate().getTime());

        $('#periodic-event-start-date-picker').datetimepicker({
            locale: 'pl',
            format: 'L',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            date: periodicEventStartDate,
            minDate: '2000-01-01'
        });

        var periodicEventEndDate = new Date($('#calendar').fullCalendar('getView').start.toDate().getTime());
        periodicEventEndDate.setDate(periodicEventEndDate.getDate() + 30);

        $('#periodic-event-end-date-picker').datetimepicker({
            locale: 'pl',
            format: 'L',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            date: periodicEventEndDate,
            minDate: '2000-01-01'
        });

        var startTimeEvent = new Date();
        startTimeEvent.setHours(10);
        startTimeEvent.setMinutes(0);

        var endTimeEvent = new Date();
        endTimeEvent.setHours(11);
        endTimeEvent.setMinutes(0);

        $('#periodic-event-start-time-picker').datetimepicker({
            locale: 'pl',
            format: 'LT',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            date: startTimeEvent,
            minDate: '2000-01-01'
        });

        $('#periodic-event-end-time-picker').datetimepicker({
            locale: 'pl',
            format: 'LT',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            date: endTimeEvent,
            minDate: '2000-01-01'
        });

        function periodicEventOnFailure(e) {
            var html = e.responseText;
            $('#periodic-event').html(html);
        }
    </script>
}
else
{
    <script>
        $('#periodic-event-start-date-picker').datetimepicker({
            locale: 'pl',
            format: 'L',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            minDate: '2000-01-01'
        });

        $('#periodic-event-end-date-picker').datetimepicker({
            locale: 'pl',
            format: 'L',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            minDate: '2000-01-01'
        });

        $('#periodic-event-start-time-picker').datetimepicker({
            locale: 'pl',
            format: 'LT',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            minDate: '2000-01-01'
        });

        $('#periodic-event-end-time-picker').datetimepicker({
            locale: 'pl',
            format: 'LT',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar-alt'
            },
            minDate: '2000-01-01'
        });

        function periodicEventOnFailure(e) {
            var html = e.responseText;
            $('#periodic-event').html(html);
        }
    </script>
}
