﻿@{
    ViewBag.Title = "Zarządzanie - Grafik";
}

<h2>Grafik</h2>
<hr />

<div id="calendar"></div>

<div id="modalWorkShift">
    @{ Html.RenderPartial("_ModalAddWorkShift"); }
</div>

<div id="modalEvent">
    @{ Html.RenderPartial("_ModalAddEvent"); }
</div>

<div id="details">

</div>

<div id="remove">

</div>

<div id="edit">

</div>

<div class="py-4"></div>


<script>
    $('#calendar').fullCalendar({
        schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
        locale: 'pl',
        timezone: 'Europe/London',
        editable: false,
        nowIndicator: true,
        scrollTime: '00:00',
        eventAfterAllRender: function (view) {
            $("[role='tooltip']").remove(); //change id and height if needed
        },
        viewRender: function (view, element) {
            $('#calendar').fullCalendar('option', 'height', "auto"); //change id and height if needed
        },
        eventRender: function (eventObj, $el) {
            $el.popover({
                title: eventObj.title,
                content: eventObj.description,
                trigger: 'hover',
                placement: 'top',
                container: 'body'
            });
        },
        eventClick: function (calEvent, jsEvent, view) {
            //var defaultColor = $(this).css('background-color');
            //$(this).css('background-color', 'red');
            $.get("@Url.Action("Details")", {
                elementID: calEvent.id
            },
            function (data) {
                $("#details").html(data);
                $('#modalDetails').modal({ backdrop: 'static', keyboard: false });
            });
            //$(this).css('background-color', defaultColor);
        },
        header: {
            left: 'exportPDF addWorkShift addEvent today prev,next',
            center: 'title',
            right: 'timelineDay,timelineThreeDays,agendaWeek,month'
        },
        dayClick: function(date, allDay, jsEvent, view) {
            if (allDay) {
                $('#calendar')
                    .fullCalendar('changeView', 'timelineDay', new Date(date.toDate().getTime()));
            }
        },
        customButtons: {
            addWorkShift: {
                text: "Dodaj dyżur",
                click: function () {
                    $.get("@Url.Action("PeriodicWorkShiftForm")", function(data) {
                        $("#periodic-work-shift").html(data);
                    });
                    $.get("@Url.Action("DisposableWorkShiftForm")", function(data) {
                        $("#disposable-work-shift").html(data);
                    });
                    $('#modalWorkShiftForm').modal({ backdrop: 'static', keyboard: false });
                    $('#periodicWorkShiftForm').find('#WorkerID').val(null);
                    $('#periodicWorkShiftForm').find('#DayOfWeek').val(null);
                    $('#disposableWorkShiftForm').find('#WorkerID').val(null);
                }
            },
            addEvent: {
                text: "Dodaj zajęcia",
                click: function() {
                    $.get( "@Url.Action("PeriodicEventForm")", function(data) {
                        $("#periodic-event").html(data);
                    });
                    $.get( "@Url.Action("DisposableEventForm")", function(data) {
                        $("#disposable-event").html(data);
                    });
                    $('#modalEventForm').modal({ backdrop: 'static', keyboard: false });
                    $('#periodicEventForm').find('#WorkerID').val(null);
                    $('#disposableEventForm').find('#Name').val(null);
                    $('#disposableEventForm').find('#WorkerID').val(null);
                    $('#disposableEventForm').find('#RoomID').val(null);
                }
            },
            exportPDF: {
                text: "Eksport do PDF",
                click: function () {
                    if ($('#calendar').fullCalendar('getView').name === 'month') {
                        html2canvas($("#calendar")[0], {
                            dpi: 300, // Set to 300 DPI
                            windowWidth: 1920,
                            windowHeight: 1080
                        }).then(canvas => {
                            var imgData = canvas.toDataURL("image/jpeg", 1);
                            var doc = new jsPDF('l', 'mm', 'a4');

                            var width = doc.internal.pageSize.getWidth() - 20;
                            var height = doc.internal.pageSize.getHeight() - 20;

                            var title = $('#calendar').fullCalendar('getView').title;
                            doc.addImage(imgData, 'JPEG', 10, 10, width, height);
                            doc.save('Grafik ' + title + '.pdf');
                        });
                    }
                    else
                        alert('Eksport do pliku PDF jest możliwy tylko dla miesięcznego harmonogramu.')
                }
            }
        },
        views: {
            timelineThreeDays: {
                type: 'timeline',
                duration: { days: 3 }
            }
        },
        resourceColumns: [
            {
                labelText: 'Pracownicy',
                field: 'title'
            },
            {
                labelText: 'Stanowisko',
                field: 'role'
            }
        ],
        resourcesInitiallyExpanded: false,
        resources: '@Url.Action("GetWorkScheduleResource")',
        events: {
            url: '@Url.Action("GetWorkScheduleEvents")'
        },
        displayEventEnd: true,
        timeFormat: 'H:mm'
    });

    $(document).ready(function() {
        $('.fc-exportPDF-button').html("<i class='fas fa-file-pdf'></i>");
        $('.fc-left').attr("data-html2canvas-ignore", "true");
        $('.fc-right').attr("data-html2canvas-ignore", "true");
    });
</script>