﻿@using FitnessClubApp.Web.Extensions.HtmlHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mx-0">
    <nav class="bg-light sidebar col-auto" style="width: 230px !important;">
        <div class="sidebar-sticky dashboard-navbar">
            <ul class="nav flex-column">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Index", "MainPanel")" href="@Url.Action("Index", "MainPanel", new {area = "Management"})">
                            <i class="fas fa-home mr-1" style="color: #999"></i>
                            <span>Panel główny</span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Index", "Subscription")" href="@Url.Action("Index", "Subscription", new {area = "Management"})">
                            <i class="far fa-credit-card mr-1" style="color: #999"></i>
                            <span>Subskrypcje</span>
                        </a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Index", "Transaction")" href="@Url.Action("Index", "Transaction", new {area = "Management"})">
                            <i class="fas fa-shopping-cart mr-1" style="color: #999"></i>
                            Transakcje
                        </a>
                    </li>
                }
                @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Index", "Account")" href="@Url.Action("Index", "Account", new {area = "Management"})">
                            <i class="fas fa-users-cog" style="color: #999; margin-right: 1px"></i>
                            Użytkownicy
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Index", "DescriptionOfWorker")" href="@Url.Action("Index", "DescriptionOfWorker", new {area = "Management"})">
                            <i class="far fa-address-card mr-1" style="color: #999;"></i>
                            Opisy trenerów
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Index", "WorkShift")" href="@Url.Action("Index", "WorkShift", new {area = "Management"})">
                            <i class="far fa-calendar-alt" style="color: #999; padding-left: 2px; margin-right: 5px"></i>
                            Grafik
                        </a>
                    </li>
                }
                @if (User.IsInRole("Trainer") || User.IsInRole("Receptionist"))
                {
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Index", "WorkShiftForWorker")" href="@Url.Action("Index", "WorkShiftForWorker", new {area = "Management"})">
                            <i class="far fa-calendar-alt" style="color: #999; padding-left: 2px; margin-right: 5px"></i>
                            Grafik
                        </a>
                    </li>
                }
                @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Index", "Room")" href="@Url.Action("Index", "Room", new {area = "Management"})">
                            <i class="fas fa-door-open" style="color: #999; margin-right: 2px;"></i>
                            Sale
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Index", "Training")" href="@Url.Action("Index", "Training", new {area = "Management"})">
                            <i class="fas fa-walking" style="color: #999; padding-left: 4px; margin-right: 7px;"></i>
                            Zajęcia
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Index", "Equipment")" href="@Url.Action("Index", "Equipment", new {area = "Management"})">
                            <i class="fas fa-dumbbell" style="color: #999; margin-right: 1px"></i>
                            Sprzęt
                        </a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Index", "Entry")" href="@Url.Action("Index", "Entry", new {area = "Management"})">
                            <i class="fas fa-user-clock" style="color: #999; margin-right: 1px"></i>
                            Rejestr wejść
                        </a>
                    </li>
                }
            </ul>

            @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
            {
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Statystyki</span>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Index", "SalesStatistics")" href="@Url.Action("Index", "SalesStatistics", new {area = "Management"})">
                            <i class="fas fa-chart-line" style="color: #999; padding-left: 1px; margin-right: 4px"></i>
                            Liczba transakcji
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Index", "SubscriptionTypesStatistics")" href="@Url.Action("Index", "SubscriptionTypesStatistics", new {area = "Management"})">
                            <i class="fas fa-chart-line" style="color: #999; padding-left: 1px; margin-right: 4px"></i>
                            Wybierane subskrypcje
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Index", "RegisteredAccountsStatistics")" href="@Url.Action("Index", "RegisteredAccountsStatistics", new {area = "Management"})">
                            <i class="fas fa-chart-line" style="color: #999; padding-left: 1px; margin-right: 4px"></i>
                            Zarejestrowane konta
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Index", "RegisteredEntriesStatistics")" href="@Url.Action("Index", "RegisteredEntriesStatistics", new {area = "Management"})">
                            <i class="fas fa-chart-line" style="color: #999; padding-left: 1px; margin-right: 4px"></i>
                            Wejścia do klubu
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Index", "RegisteredEntriesByGenderStatistics")" href="@Url.Action("Index", "RegisteredEntriesByGenderStatistics", new {area = "Management"})">
                            <i class="fas fa-chart-line" style="color: #999; padding-left: 1px; margin-right: 4px"></i>
                            Wejścia do klubu<br />według płci
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Index", "RegisteredEntriesByDateOfBirthStatistics")" href="@Url.Action("Index", "RegisteredEntriesByDateOfBirthStatistics", new {area = "Management"})">
                            <i class="fas fa-chart-line" style="color: #999; padding-left: 1px; margin-right: 4px"></i>
                            Wejścia do klubu<br />według wieku
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Index", "RegisteredEntriesByEntryTimeStatistics")" href="@Url.Action("Index", "RegisteredEntriesByEntryTimeStatistics", new {area = "Management"})">
                            <i class="fas fa-chart-line" style="color: #999; padding-left: 1px; margin-right: 4px"></i>
                            Wejścia do klubu<br />według godziny wejścia
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Index", "UsersInEventsByNameStatistics")" href="@Url.Action("Index", "UsersInEventsByNameStatistics", new {area = "Management"})">
                            <i class="fas fa-chart-line" style="color: #999; padding-left: 1px; margin-right: 4px"></i>
                            Zarezerwowane miejsca<br/>na zajęcia
                        </a>
                    </li>
                </ul>
            }
            <div class="py-3"></div>
        </div>
    </nav>

    <main role="main" class="col px-5 pt-4" style="margin-left: 230px !important">
        @RenderBody()
    </main>
</div>
