﻿@{
    ViewBag.Title = "Zarządzanie - Transkacje";
}

<script src="~/Scripts/gijgo/combined/gijgo.js" type="text/javascript"></script>

<h2>Transakcje</h2>
<hr />

<div class="container-fluid">
    <div class="row">
        <form class="form-inline w-100">
            <div class="col-2">
                <input id="txtID" type="number" min="1" placeholder="ID..." class="w-100 form-control mb-2 mr-sm-2 mb-sm-0" />
            </div>
            <div class="col">
                <input id="txtPurcharser" type="text" placeholder="Zamawiający..." class="w-100 form-control mb-2 mr-sm-2 mb-sm-0" />
            </div>
            <div class="col-auto">
                <select id="StatusPaid" class="w-100"></select>
            </div>
            <div class="col-auto">
                <select id="StatusComplete" class="w-100"></select>
            </div>
            <div class="col-auto h-100">
                <button id="btnSearch" type="button" class="h-100 btn btn-light btn-lg fa-lg fas fa-search"></button>
            </div>
            <div class="col-auto h-100">
                <button id="btnClear" type="button" class="h-100 btn btn-light btn-lg fa-lg fas fa-times"></button>
            </div>
        </form>

    </div>
    <div class="row mt-3">
        <div class="col-12">
            <table id="grid"></table>
        </div>
    </div>
</div>

<div id="dialogDetail" style="display: none">
    <label>Data zamówienia</label>
    <strong id="OrderDate"></strong>
    <br />
    <br />
    <label>Nazwa subskrypcji</label>
    <strong id="SubscriptionName"></strong>
    <br />
    <label>Cena</label>
    <strong id="Price"></strong>
    <br />
    <label>Data rozpoczęcia</label>
    <strong id="StartDate"></strong>
    <br />
    <label>Data zakończenia</label>
    <strong id="EndDate"></strong>
    <br />
    <br />
    <label>Dane zamawiającego</label>
    <br />
    <strong id="PurcharserPersonalData"></strong>
    <br />
    <strong id="StreetAddress"></strong>
    <br />
    <strong id="ZipCodeAndCity"></strong>
    <br />
    <br />
    <label>Subskrybent</label>
    <strong id="SubscriberPersonalData"></strong>
    <br />
    <label>E-mail</label>
    <strong id="Email"></strong>
    <br />
    <label>Telefon</label>
    <strong id="PhoneNumber"></strong>
</div>

<div id="dialogEdit" style="display: none">
    <div data-role="body">
        <input type="hidden" id="ID" />
        <form>
            <div class="form-group">
                <label for="Paid" class="mr-2">Opłacone</label><input id="Paid" type="checkbox" />
            </div>
            <div class="form-group">
                <label for="Complete" class="mr-2">Zrealizowane</label><input id="Complete" type="checkbox" />
            </div>
        </form>
    </div>
    <div data-role="footer">
        <button type="button" id="btnSave" class="btn btn-primary float-right">Zapisz</button>
    </div>
</div>

<div id="dialogRemove" style="display: none">
    <div data-role="body">
        <span id="dialogRemoveTxt"></span>
        <input hidden id="removeID" />
    </div>
    <div data-role="footer">
        <button type="button" id="btnDelete" class="btn btn-primary float-right">Usuń</button>
    </div>
</div>

<div class="py-3"></div>

<script type="text/javascript">
        var grid, dialogDetail, dialogEdit, dialogRemove;
        function Detail(e) {
            $('#SubscriptionName').text(e.data.record.SubscriptionName);
            $('#Price').text(e.data.record.Price);
            $('#OrderDate').text(e.data.record.OrderDate.toString('dd.mm.yyyy'));
            $('#StartDate').text(e.data.record.StartDate.toString('dd.mm.yyyy'));
            $('#EndDate').text(e.data.record.EndDate.toString('dd.mm.yyyy'));
            $('#PurcharserPersonalData').text(e.data.record.PurcharserPersonalData);
            $('#StreetAddress').text(e.data.record.StreetAddress);
            $('#ZipCodeAndCity').text(e.data.record.ZipCode + ' ' + e.data.record.City);
            $('#SubscriberPersonalData').text(e.data.record.SubscriberPersonalData);
            $('#Email').text(e.data.record.Email);
            $('#PhoneNumber').text(e.data.record.PhoneNumber);
            dialogDetail.open('Szczegóły transakcji ID ' + e.data.id);
        }
        function Remove(e) {
            $('#removeID').val(e.data.id);
            $('#dialogRemoveTxt').text('Czy na pewno chcesz usunąć transakcję?');
            dialogRemove.open('Usunięcie transakcji ID ' + e.data.id);
        }
        function Edit(e) {
            $('#ID').val(e.data.id);
            $('#Paid').prop('checked', e.data.record.Paid);
            $('#Complete').prop('checked', e.data.record.Complete);
            dialogEdit.open('Zmień status transakcji ID ' + e.data.id);
        }
        function Save() {
            var record = {
                PurchasedSubscriptionID: $('#ID').val(),
                Paid: $('#Paid').is(":checked"),
                Complete: $('#Complete').is(":checked")
            };
            console.log(record);
            $.ajax({ url: '@Url.Action("EditTransactionStatus", "Transaction", new { area = "Management" })', data: record, method: 'POST' })
                .done(function () {
                    dialogEdit.close();
                    grid.reload();
                })
                .fail(function () {
                    alert('Nie udało się zapisać zmian.');
                    dialogEdit.close();
                });
        }
        $(document).ready(function () {
            grid = $('#grid').grid({
                primaryKey: 'PurchasedSubscriptionID',
                dataSource: '@Url.Action("GetTransactions", "Transaction", new { area = "Management" })',
                uiLibrary: 'bootstrap4',
                columns: [
                    { field: 'PurchasedSubscriptionID', width: 53, title: 'ID', sortable: true },
                    { field: 'OrderDate', title: 'Data zamówienia', width: 150, sortable: true, type: 'date', format: 'dd.mm.yyyy HH:MM' },
                    { field: 'StartDate', hidden: true, type: 'date', format: 'dd.mm.yyyy' },
                    { field: 'EndDate', hidden: true, type: 'date', format: 'dd.mm.yyyy' },
                    { field: 'PurcharserPersonalData', title: 'Zamawiający', minWidth: 125, sortable: true },
                    { field: 'SubscriptionName', title: 'Subskrypcja', sortable: true },
                    { field: 'Price', title: 'Cena', width: 75, sortable: true },
                    { field: 'Shipment', title: 'Wysyłka', width: 90, type: 'checkbox', align: 'center' },
                    { field: 'Paid', title: 'Opłacone', width: 90, type: 'checkbox', align: 'center' },
                    { field: 'Complete', title: 'Zrealizowane', width: 120, type: 'checkbox', align: 'center' },
                    { title: '', field: 'Detail', width: 55, align: 'center', type: 'icon', icon: 'btn btn-info btn-xs fa-xs fas fa-info', tooltip: 'Zobacz szczegóły', events: { 'click': Detail } },
                    { title: '', field: 'Edit', width: 63, align: 'center', type: 'icon', icon: 'btn btn-primary btn-xs fa-xs fas fa-edit', tooltip: 'Zmień status', events: { 'click': Edit } },
                    { title: '', field: 'Remove', width: 60, align: 'center', type: 'icon', icon: 'btn btn-danger btn-xs fa-xs fas fa-trash-alt', tooltip: 'Usuń transakcję', events: { 'click': Remove } }
                ],
                pager: { limit: 10 }
            });

            statusPaidDropdown = $('#StatusPaid').dropdown({
                uiLibrary: 'bootstrap4',
                selectedField: 'newSelectedField',
                dataSource: [
                    { value: null, text: 'Status płatności', newSelectedField: true },
                    { value: true, text: 'Opłacone' },
                    { value: false, text: 'Nieopłacone' }
                ],
                valueField: 'value',
                textField: 'text'
            });

            statusCompleteDropdown = $('#StatusComplete').dropdown({
                uiLibrary: 'bootstrap4',
                selectedField: 'newSelectedField',
                dataSource: [
                    { value: null, text: 'Status realizacji', newSelectedField: true  },
                    { value: true, text: 'Zrealizowane' },
                    { value: false, text: 'Niezrealizowane' }
                ],
                valueField: 'value',
                textField: 'text'
            });

            dialogDetail = $('#dialogDetail').dialog({
                autoOpen: false,
                resizable: false,
                uiLibrary: 'bootstrap4',
                modal: true,
                width: 400,
                height: 495,
                draggable: false
            });

            dialogEdit = $('#dialogEdit').dialog({
                autoOpen: false,
                resizable: false,
                uiLibrary: 'bootstrap4',
                modal: true,
                width: 440,
                height: 245,
                draggable: false
            });

            dialogRemove = $('#dialogRemove').dialog({
                autoOpen: false,
                resizable: false,
                uiLibrary: 'bootstrap4',
                modal: true,
                width: 600,
                height: 200,
                draggable: false
            });

            $('#btnDelete').on('click', function () {
                var record = {
                    transactionID: $('#removeID').val()
                };
                $.ajax({
                        url: '@Url.Action("RemoveTransaction", "Transaction", new { area = "Management" })',
                        data: record,
                        method: 'POST'
                    })
                    .done(function () {
                        grid.reload();
                        dialogRemove.close();
                    });
            });

            $('#btnSave').on('click', Save);
            $('#btnCancel').on('click', function () {
                dialog.close();
            });
            $('#btnSearch').on('click', function () {
                grid.reload({
                        page: 1,
                        ID: $('#txtID').val(),
                        purcharser: $('#txtPurcharser').val(),
                        paid: statusPaidDropdown.value(),
                        complete: statusCompleteDropdown.value()
                    });
            });
            $('#btnClear').on('click', function () {
                $('#txtID').val('');
                $('#txtPurcharser').val('');
                statusPaidDropdown.value(null);
                statusCompleteDropdown.value(null);
                grid.reload({
                        ID: '',
                        purcharser: '',
                        paid: null,
                        complete: null
                    });
           });
        });
</script>

