﻿@model IEnumerable<FitnessClubApp.Model.DescriptionOfUser>

@if (Model.Count() != 0)
{
    <div class="pl-3 w-100">
        <div class="card-deck text-center d-block">
            <div class="card ml-0">
                <ul class="list-group list-group-flush">
                    @foreach (var description in Model)
                    {
                        <li class="list-group-item text-left bg-light p-0">
                            <div class="d-flex card-header border-bottom-0">
                                <h4 class="mb-0" style="vertical-align: sub">@(description.User.FirstName) @(description.User.LastName)</h4>
                                <button class="btn btn-lg btn-info fas fa-lg fa-info ml-auto" data-toggle="collapse" data-target="#detailWorker_@description.DescriptionOfUserID" aria-expanded="false" aria-controls="detailWorker_@description.DescriptionOfUserID"></button>
                                @Ajax.ActionLink(
                                    linkText: " ",
                                    actionName: "EditDescription",
                                    routeValues: new { descriptionID = description.DescriptionOfUserID },
                                    ajaxOptions: new AjaxOptions
                                    {
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "descriptionModal",
                                        OnSuccess = "$('#modalDescriptionForm').modal({backdrop: 'static', keyboard: false}); $.validator.unobtrusive.parse(\"#descriptionForm\");"
                                    },
                                    htmlAttributes: new {@class = "btn btn-lg btn-primary fas fa-lg fa-edit ml-2" })
                            </div>

                            @{
                                var base64 = Convert.ToBase64String(description.Image);
                                var imgSrc = $"data:image/gif;base64,{base64}";
                            }

                            <div class="card-body collapse" id="detailWorker_@description.DescriptionOfUserID" style="border-top: 1px solid rgba(0, 0, 0, 0.125)">
                                <div class="row">
                                    <div class="col-md-auto">
                                        <div style="display: grid">
                                            <img src="@imgSrc" alt="Błąd ładowania" class="img-thumbnail mb-2" style="width: 200px; height: 200px; object-fit: cover;">
                                            @Ajax.ActionLink(
                                                linkText: " ",
                                                actionName: "EditImageWorker",
                                                routeValues: new { descriptionID = description.DescriptionOfUserID },
                                                ajaxOptions: new AjaxOptions
                                                {
                                                    HttpMethod = "GET",
                                                    InsertionMode = InsertionMode.Replace,
                                                    UpdateTargetId = "descriptionModal",
                                                    OnSuccess = "$('#modalImageWorkerForm').modal({backdrop: 'static', keyboard: false}); $.validator.unobtrusive.parse(\"#imageWorkerForm\");"
                                                },
                                                htmlAttributes: new {@class = "btn btn-secondary fas fa-pen fa-xs", style = "width: 200px" })
                                        </div>
                                    </div>
                                    <div class="col">
                                        <h5 class="card-title">Opis</h5>
                                        <p class="card-text">@description.Description</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="py-4"></div>
}

