﻿@model FitnessClubApp.Web.Areas.Management.ViewModels.EditDescriptionWorkerFormViewModel

<div class="modal fade" id="modalDescriptionForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edytuj opis</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Ajax.BeginForm("EditDescription", new { },
                new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "allDescriptions", OnFailure = "descriptionFormOnFailure", OnSuccess = "$('#modalDescriptionForm').modal('hide');" }, new { id = "descriptionForm" } ))
            {
            <div class="modal-body">

                @Html.HiddenFor(model => model.DescriptionOfUserID)

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, "Opis")
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Opis" } })
                    @Html.ValidationMessageFor(model => model.Description, string.Empty, new { @class = "text-danger" })
                </div>

            </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                </div>
            }

        </div>
    </div>
</div>
