﻿@{
    ViewBag.Title = "Zarządzanie - Opisy trenerów";
}

<h2>Opisy trenerów</h2> 

<hr/>

<div id="allDescriptions">
    @{ Html.RenderAction("GetAllDescriptions"); }
</div>

<div id="descriptionModal">

</div>

<script>
    function descriptionFormOnFailure(e) {
        $('.modal-backdrop').remove();
        var html = e.responseText;
        $('#descriptionModal').html(html);
        $.validator.unobtrusive.parse("#descriptionForm");
        $.validator.unobtrusive.parse("#imageWorkerForm");
        $('#modalDescriptionForm').modal({ backdrop: 'static', keyboard: false });
        $('#modalImageWorkerForm').modal({ backdrop: 'static', keyboard: false });
    }
</script>

