﻿<h4 class="text-center mb-3">
    Najczęściej wybierane subskrypcje <button type="button" data-html2canvas-ignore="true" id="chosenSubscriptionPDF" class="btn btn-secondary btn-sm px-2 mb-1"><i class="fas fa-file-pdf fa-sm"></i></button>
</h4>

<div id="chosenSubscriptionDiv">
    <canvas id="chosenSubscriptionChart" class="mb-4" width="450" height="180"></canvas>
</div>
<script>
    $.get("@Url.Action("ChosenSubscription")", function (data) {
        var chosenSubscriptionCtx = document.getElementById("chosenSubscriptionChart").getContext('2d');
        var chosenSubscriptionChart = new Chart(chosenSubscriptionCtx, {
            type: 'pie',
            data: data
        });
    });

    $('#chosenSubscriptionPDF').click(function () {
        html2canvas($("#chosenSubscription")[0],
            {
                dpi: 300 // Set to 300 DPI
            }).then(canvas => {
            var imgData = canvas.toDataURL("image/jpeg", 1);
            var doc = new jsPDF('l', 'mm', 'a4');

            var width = doc.internal.pageSize.getWidth() - 20;
            var height = (doc.internal.pageSize.getHeight() - doc.internal.pageSize.getHeight()/3) - 20;

            doc.addImage(imgData, 'JPEG', 15, 40, width, height);
            doc.save('Najczęściej wybierane subskrypcje.pdf');
        });
    });
</script>
