﻿@{
    ViewBag.Title = "Statystyki - Wybierane subskrypcje";
}

<h2>Statystyki (wybierane subskrypcje)</h2>
<hr />

<div id="dailyAmountTypesOfSales">
    @{ Html.RenderPartial("_DailyAmountTypesOfSalesGraph"); }
</div>

<div id="monthlyAmountTypesOfSales">
    @{ Html.RenderPartial("_MonthlyAmountTypesOfSalesGraph"); }
</div>

<div id="annualAmountTypesOfSales">
    @{ Html.RenderPartial("_AnnualAmountTypesOfSalesGraph"); }
</div>

<div id="chosenSubscription">
    @{ Html.RenderPartial("_ChosenSubscription"); }
</div>

<div class="py-4"></div>
