﻿<h4 class="text-center mb-3">
    Liczba zarejestrowanych kont w rocznym zestawieniu
</h4>

<div id="annualRegisteredAccountsFormDiv" data-html2canvas-ignore="true">
    @{ Html.RenderAction("AnnualRegisteredAccountsForm"); }
</div>

<div id="annualRegisteredAccountsDiv">
    <canvas id="annualRegisteredAccountsChart" class="mb-4" width="450" height="180"></canvas>
</div>
<script>
    var annualTypesLabels = [];

    $.get("@Url.Action("DefaultAnnualRegisteredAccounts")", function (data) {
        annualTypesLabels = data.data.labels;
        var annualRegisteredAccountsCtx = document.getElementById("annualRegisteredAccountsChart").getContext('2d');
        var annualRegisteredAccountsChart = new Chart(annualRegisteredAccountsCtx, {
            type: data.type,
            data: data.data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>
