﻿@model FitnessClubApp.Web.Areas.Management.ViewModels.AnnualAmountOfSalesFormViewModel


@using (Ajax.BeginForm("RenderAnnualRegisteredAccounts", new { }, new AjaxOptions
{
    HttpMethod = "POST",
    OnComplete = "$.validator.unobtrusive.parse(\"#annualRegisteredAccountsForm\")",
    OnFailure = "annualRegisteredAccountsOnFailure",
    OnSuccess = "annualRegisteredAccountsOnSuccess"
}, new { id = "annualRegisteredAccountsForm" }))
{
    <div class="row">

        <div class="form-group col">
            @Html.LabelFor(model => model.StartDate, "Rok początkowy")
            <div class="input-group date mb-1" id="annualRegisteredAccounts-start-date-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.StartDate, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#annualRegisteredAccounts-start-date-picker",
                        placeholder = "Rok początkowy",
                    }
                })
                <div class="input-group-append" data-target="#annualRegisteredAccounts-start-date-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.StartDate, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group col">
            @Html.LabelFor(model => model.EndDate, "Rok końcowy")
            <div class="input-group date mb-1" id="annualRegisteredAccounts-end-date-picker" data-target-input="nearest">
                @Html.EditorFor(model => model.EndDate, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datetimepicker-input",
                        data_target = "#annualRegisteredAccounts-end-date-picker",
                        placeholder = "Rok końcowy",
                    }
                })
                <div class="input-group-append" data-target="#annualRegisteredAccounts-end-date-picker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.EndDate, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group col-auto">
            @Html.LabelFor(model => model.TypeOfGraph, "Typ grafu")
            @Html.DropDownListFor(model => model.TypeOfGraph, Model.GraphTypes, new { @class = "form-control mb-1" })
            @Html.ValidationMessageFor(model => model.TypeOfGraph, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group col-auto">
            @Html.Label("​​​‎‎‎‎  ")
            <button type="submit" class="form-control btn btn-secondary">Generuj</button>
            @Html.ValidationMessageFor(model => model.TypeOfGraph, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group col-auto">
            @Html.Label("​​​‎‎‎‎  ")
            <button type="button" id="annualRegisteredAccountsPDF" class="form-control btn btn-secondary"><i class="fas fa-file-pdf"></i></button>
            @Html.ValidationMessageFor(model => model.TypeOfGraph, string.Empty, new { @class = "text-danger" })
        </div>

    </div>
}

<script>
    $('#annualRegisteredAccounts-start-date-picker').datetimepicker({
        locale: 'pl',
        format: 'YYYY',
        viewMode: 'years',
        icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar-alt'
        },
        minDate: '2000-01-01'
    });

    $('#annualRegisteredAccounts-end-date-picker').datetimepicker({
        locale: 'pl',
        format: 'YYYY',
        viewMode: 'years',
        icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar-alt'
        },
        minDate: '2000-01-01'
    });

    function annualRegisteredAccountsOnFailure(e) {
        var html = e.responseText;
        $('#annualRegisteredAccountsFormDiv').html(html);
    }

    function annualRegisteredAccountsOnSuccess(e) {
        annualTypesLabels = e.data.labels;
        $('#annualRegisteredAccountsChart').remove();
        $('#annualRegisteredAccountsDiv').append('<canvas id="annualRegisteredAccountsChart" class="mb-4" width="450" height="180"></canvas>');
        var canvas = document.getElementById("annualRegisteredAccountsChart");
        var annualRegisteredAccountsCtx = canvas.getContext('2d');
        annualRegisteredAccountsCtx.clearRect(0, 0, canvas.width, canvas.height);
        var annualRegisteredAccountsChart = new Chart(annualRegisteredAccountsCtx, {
            type: e.type,
            data: e.data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }

    $('#annualRegisteredAccountsPDF').click(function () {
            html2canvas($("#annualRegisteredAccounts")[0],
            {
                dpi: 300 // Set to 300 DPI
            }).then(canvas => {
                var imgData = canvas.toDataURL("image/jpeg", 1);
                var doc = new jsPDF('l', 'mm', 'a4');

                var width = doc.internal.pageSize.getWidth() - 20;
                var height = (doc.internal.pageSize.getHeight() - doc.internal.pageSize.getHeight()/3) - 20;

                doc.addImage(imgData, 'JPEG', 15, 40, width, height);
                doc.save('Zarejestrowane konta ' + annualTypesLabels[0] + ' - ' + annualTypesLabels[annualTypesLabels.length - 1] + '.pdf');
            });
        });
</script>
