﻿<h4 class="text-center mb-3">
    Liczba zarejestrowanych kont w dziennym zestawieniu
</h4>

<div id="dailyRegisteredAccountsFormDiv" data-html2canvas-ignore="true">
    @{ Html.RenderAction("DailyRegisteredAccountsForm"); }
</div>

<div id="dailyRegisteredAccountsDiv">
    <canvas id="dailyRegisteredAccountsChart" class="mb-4" width="450" height="180"></canvas>
</div>
<script>
    var labels = [];

    $.get("@Url.Action("DefaultRegisteredAccounts")", function (data) {
        labels = data.data.labels;
        var dailyRegisteredAccountsCtx = document.getElementById("dailyRegisteredAccountsChart").getContext('2d');
        var dailyRegisteredAccountsChart = new Chart(dailyRegisteredAccountsCtx, {
            type: data.type,
            data: data.data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>
