﻿<h4 class="text-center mb-3">
    Liczba zarejestrowanych kont w miesięcznym zestawieniu
</h4>

<div id="monthlyRegisteredAccountsFormDiv" data-html2canvas-ignore="true">
    @{ Html.RenderAction("MonthlyRegisteredAccountsForm"); }
</div>

<div id="monthlyRegisteredAccountsDiv">
    <canvas id="monthlyRegisteredAccountsChart" class="mb-4" width="450" height="180"></canvas>
</div>
<script>
    var monthlyTypesLabels = [];

    $.get("@Url.Action("DefaultMonthlyRegisteredAccounts")", function (data) {
        monthlyTypesLabels = data.data.labels;
        var monthlyRegisteredAccountsCtx = document.getElementById("monthlyRegisteredAccountsChart").getContext('2d');
        var monthlyRegisteredAccountsChart = new Chart(monthlyRegisteredAccountsCtx, {
            type: data.type,
            data: data.data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>
