﻿@{
    ViewBag.Title = "Statystyki - Zarejestrowane konta";
}

<h2>Statystyki (zarejestrowane konta)</h2>
<hr />

<div id="dailyRegisteredAccounts">
    @{ Html.RenderPartial("_DailyRegisteredAccountsGraph"); }
</div>

<div id="monthlyRegisteredAccounts">
    @{ Html.RenderPartial("_MonthlyRegisteredAccountsGraph"); }
</div>

<div id="annualRegisteredAccounts">
    @{ Html.RenderPartial("_AnnualRegisteredAccountsGraph"); }
</div>

<div class="py-4"></div>
