﻿@model FitnessClubApp.Web.Areas.Management.ViewModels.EquipmentFormViewModel

<div class="modal fade" id="modalEquipmentForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj sprzęt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Ajax.BeginForm("AddEquipment", new { },
                new AjaxOptions() { HttpMethod = "POST", OnFailure = "equipmentFormOnFailure", OnSuccess = "$('#modalEquipmentForm').modal('hide'); grid.reload();" }, new { id = "equipmentForm" }))
            {
                <div class="modal-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, "Nazwa")
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Nazwa" } })
                        @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Brand, "Marka")
                        @Html.EditorFor(model => model.Brand, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Marka" } })
                        @Html.ValidationMessageFor(model => model.Brand, string.Empty, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Amount, "Liczba sztuk")
                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control mb-1", placeholder = "Liczba sztuk" } })
                        @Html.ValidationMessageFor(model => model.Amount, string.Empty, new { @class = "text-danger" })
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                </div>
            }

        </div>
    </div>
</div>

<script>
    function equipmentFormOnFailure(e) {
        $('.modal-backdrop').remove();
        var html = e.responseText;
        $('#modal').html(html);
        $('#modalEquipmentForm').modal({ backdrop: 'static', keyboard: false });
        $.validator.unobtrusive.parse("#equipmentForm");
    }
</script>
