﻿@model FitnessClubApp.Model.Equipment

<div class="modal fade" id="modalConfirmationRemoveEquipment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Usunięcie sprzętu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Ajax.BeginForm("ConfirmationRemoveEquipment", new { equipmentID = Model.EquipmentID },
                new AjaxOptions() { HttpMethod = "POST", OnSuccess = "$('#modalConfirmationRemoveEquipment').modal('hide'); grid.reload();" }, new { id = "confirmationRemoveEquipment" }))
            {
                <div class="modal-body">
                    Czy na pewno chcesz usunąć sprzęt <b>@Model.Name (@Model.Brand)</b>?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Usuń</button>
                </div>
            }

        </div>
    </div>
</div>
