﻿@{
    ViewBag.Title = "Zarządzanie - Sprzęt";
}

<script src="~/Scripts/gijgo/combined/gijgo.js" type="text/javascript"></script>

<h2>Sprzęt
    @Ajax.ActionLink(
        linkText: " ",
        actionName: "AddEquipment",
        routeValues: new {},
        ajaxOptions: new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "modal",
            OnSuccess = "$('#modalEquipmentForm').modal({backdrop: 'static', keyboard: false}); $.validator.unobtrusive.parse(\"#equipmentForm\");"
        },
        htmlAttributes: new {@class = "btn btn-icon fa-lg fas fa-plus-square text-success float-right" })
</h2>

<hr />

<div class="container-fluid">
    <div class="row">
        <form class="form-inline w-100">
            <div class="col">
                <input id="txtName" type="text" placeholder="Nazwa..." class="w-100 form-control mb-2 mr-sm-2 mb-sm-0" />
            </div>
            <div class="col">
                <input id="txtBrand" type="text" placeholder="Marka..." class="w-100 form-control mb-2 mr-sm-2 mb-sm-0" />
            </div>
            <div class="col-auto h-100">
                <button id="btnSearch" type="button" class="h-100 btn btn-light btn-lg fa-lg fas fa-search"></button>
            </div>
            <div class="col-auto h-100">
                <button id="btnClear" type="button" class="h-100 btn btn-light btn-lg fa-lg fas fa-times"></button>
            </div>
        </form>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <table id="grid"></table>
        </div>
    </div>
</div>

<div id="modal">
    
</div>

<div class="py-3"></div>

<script type="text/javascript">
        var grid;

        function Remove(e) {
            $.get("@Url.Action("RemoveEquipment")", {
                    equipmentID: e.data.id
                },
                function (data) {
                    $("#modal").html(data);
                    $('#modalConfirmationRemoveEquipment').modal({ backdrop: 'static', keyboard: false });
                });
        }

        function Edit(e) {
            $.get("@Url.Action("EditEquipment")", {
                    equipmentID: e.data.id
                },
                function (data) {
                    $("#modal").html(data);
                    $('#modalEquipmentForm').modal({ backdrop: 'static', keyboard: false });
                    $.validator.unobtrusive.parse("#equipmentForm");
                });
        }

        $(document).ready(function () {
            grid = $('#grid').grid({
                primaryKey: 'EquipmentID',
                dataSource: '@Url.Action("GetEquipments", "Equipment", new { area = "Management" })',
                uiLibrary: 'bootstrap4',
                columns: [
                    { field: 'Name', title: 'Nazwa', sortable: true },
                    { field: 'Brand', title: 'Marka', sortable: true },
                    { field: 'Amount', title: 'Sztuk' },
                    { title: '', field: 'Edit', width: 63, align: 'center', type: 'icon', icon: 'btn btn-primary btn-xs fa-xs fas fa-edit', tooltip: 'Edytuj', events: { 'click': Edit } },
                    { title: '', field: 'Remove', width: 60, align: 'center', type: 'icon', icon: 'btn btn-danger btn-xs fa-xs fas fa-trash-alt', tooltip: 'Usuń', events: { 'click': Remove } }
                ],
                pager: { limit: 10 }
            });

            $('#btnSearch').on('click', function () {
                grid.reload({
                        page: 1,
                        brand: $('#txtBrand').val(),
                        name: $('#txtName').val()
                    });
            });

            $('#btnClear').on('click', function () {
                $('#txtBrand').val('');
                $('#txtName').val('');
                grid.reload({
                    brand: '',
                    name: ''
                });
            });
        });
</script>

