﻿@model IEnumerable<FitnessClubApp.Model.Equipment>

@{
    ViewBag.Title = "Lista sprzętów";
}

<script src="~/Scripts/gijgo/combined/gijgo.js" type="text/javascript"></script>

<div class="view-content">

    <h2>Lista sprzętów</h2>
    <hr />

    <div class="container-fluid">
        <div class="row">
            <form class="form-inline w-100">
                <div class="col">
                    <input id="txtName" type="text" placeholder="Nazwa..." class="w-100 form-control mb-2 mr-sm-2 mb-sm-0" />
                </div>
                <div class="col">
                    <input id="txtBrand" type="text" placeholder="Marka..." class="w-100 form-control mb-2 mr-sm-2 mb-sm-0" />
                </div>
                <div class="col-auto h-100">
                    <button id="btnSearch" type="button" class="h-100 btn btn-light btn-lg fa-lg fas fa-search"></button>
                </div>
                <div class="col-auto h-100">
                    <button id="btnClear" type="button" class="h-100 btn btn-light btn-lg fa-lg fas fa-times"></button>
                </div>
            </form>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <table id="grid"></table>
            </div>
        </div>
    </div>

    <div class="py-3"></div>
</div>

<script type="text/javascript">
        var grid;

        $(document).ready(function () {
            grid = $('#grid').grid({
                primaryKey: 'EquipmentID',
                dataSource: '@Url.Action("GetEquipments", "Home", new { area = string.Empty })',
                uiLibrary: 'bootstrap4',
                columns: [
                    { field: 'Name', title: 'Nazwa', sortable: true },
                    { field: 'Brand', title: 'Marka', sortable: true },
                    { field: 'Amount', title: 'Sztuk', width: 70 }
                ],
                pager: { limit: 20 }
            });

            $('#btnSearch').on('click', function () {
                grid.reload({
                        page: 1,
                        brand: $('#txtBrand').val(),
                        name: $('#txtName').val()
                    });
            });

            $('#btnClear').on('click', function () {
                $('#txtBrand').val('');
                $('#txtName').val('');
                grid.reload({
                    brand: '',
                    name: ''
                });
            });
        });
</script>