﻿@{
    ViewBag.Title = "Strona startowa";
}

<div class="view-content">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide" style="object-fit: cover;" src="~/Images/carousel-left.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1 class="carousel-text-shadow">Dołącz do nas już dziś!</h1>
                        <p class="carousel-text-shadow">Zakup karnet i zacznij korzystać z najlepszego klubu fitness w regionie!</p>
                        <p>@Html.ActionLink("Kup karnet", "Choose", "Store", new { area = "Membership" }, new { @class = "btn btn-lg btn-primary" })</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="second-slide" style="object-fit: cover;" src="~/Images/carousel-center.jpg" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="carousel-text-shadow">Dołącz do nas już dziś!</h1>
                        <p class="carousel-text-shadow">Zakup karnet i zacznij korzystać z najlepszego klubu fitness w regionie!</p>
                        <p>@Html.ActionLink("Kup karnet", "Choose", "Store", new { area = "Membership" }, new { @class = "btn btn-lg btn-primary" })</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="third-slide" style="object-fit: cover;" src="~/Images/carousel-right.jpg" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1 class="carousel-text-shadow">Dołącz do nas już dziś!</h1>
                        <p class="carousel-text-shadow">Zakup karnet i zacznij korzystać z najlepszego klubu fitness w regionie!</p>
                        <p>@Html.ActionLink("Kup karnet", "Choose", "Store", new { area = "Membership" }, new { @class = "btn btn-lg btn-primary" })</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <hr />

    <div class="container marketing">
        <h2 class="text-center pb-5 pt-3">Co nas wyróżnia?</h2>
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="~/Images/trainings.jpeg" alt="" style="object-fit: cover;" width="140" height="140">
                <h2 class="pt-3">Różnerodne<br />zajęcia fitness</h2>
                <p>Do wyboru masz różne rodzaje zajęć fitness. Przejrzyj dostępną ofertę.</p>
                <p><a class="btn btn-secondary" href="@Url.Action("Trainings")" role="button">Nasze zajęcia</a></p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" src="~/Images/trainers.jpeg" style="object-fit: cover;" alt="" width="140" height="140">
                <h2 class="pt-3">Doświadczony<br />zespół trenerów</h2>
                <p>Nasi trenerzy są specjalistami ze swojej branży chętnie pomagającym Klientom.</p>
                <p><a class="btn btn-secondary" href="@Url.Action("Trainers")" role="button">Nasi trenerzy</a></p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" src="~/Images/equipments.jpg" alt="" style="object-fit: cover;" width="140" height="140">
                <h2 class="pt-3">Doskonały sprzęt<br />do ćwiczeń</h2>
                <p>Posiadamy maszyny najwyższej linii renomowanych firm. Zobacz co aktualnie posiadamy.</p>
                <p><a class="btn btn-secondary" href="@Url.Action("Equipments")" role="button">Nasz sprzęt</a></p>
            </div>
        </div>
        <hr class="featurette-divider mt-4">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Jesteśmy na rynku już @(DateTime.Now.Year - 2005) lat.<br/><span class="text-muted">I dalej się rozwijamy!</span></h2>
                <p class="lead"></p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" alt="" style="width: 500px; height: 500px; object-fit: cover;" src="~/Images/featurette-1.jpeg" data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">U nas rozwiniesz się w szybkim tempie!<span class="text-muted"> Dzięki nowoczesnemu sprzętowi i doświadczonym trenerom.</span></h2>
                <p class="lead"></p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" alt="" style="width: 500px; height: 500px; object-fit: cover;" src="~/Images/featurette-2.jpeg" data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Nabierzesz pewności siebie i radości z życia!<span class="text-muted"> Doskonała atmosfera w klubie to nasza domena.</span></h2>
                <p class="lead"></p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" alt="" style="width: 500px; height: 500px; object-fit: cover;" src="~/Images/featurette-3.jpeg" data-holder-rendered="true">
            </div>
        </div>
    </div>

    <div class="py-4"></div>

</div>
