﻿@model IEnumerable<FitnessClubApp.Model.Training>

@{
    ViewBag.Title = "Zajęcia fitness";
}

<div class="view-content">
    <h2>Zajęcia fitness</h2>

    <hr />

    <div class="py-4"></div>

    @{ int i = 0; }

    @foreach (var training in Model)
    {
        i++;
        <div class="row featurette mx-auto">
            <div class="col @(i%2 == 0? "order-md-2" : string.Empty)">
                <h2 class="featurette-heading">@training.Name</h2>
                <p class="lead">@training.Description</p>
            </div>
            <div class="col-auto @(i%2 == 0? "order-md-1" : string.Empty)">
                @{
                    var base64 = Convert.ToBase64String(training.Image);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }

                <img class="featurette-image img-fluid mx-auto" alt="" style="width: 400px; height: 400px; object-fit: cover;" src="@imgSrc" data-holder-rendered="true">
            </div>
        </div>

        if (i != Model.Count())
        {
            <hr class="featurette-divider">
        }
        else
        {
            <div class="py-4"></div>
        }

    }

</div>