﻿@model IEnumerable<FitnessClubApp.Model.DescriptionOfUser>

@{
    ViewBag.Title = "Opisy trenerów";
}

<div class="view-content">
    <h2>Opisy trenerów</h2>

    <hr />

    <div class="py-4"></div>

    @{ int i = 0; }

    @foreach (var descriptionOfUser in Model)
    {
        i++;
        <div class="row featurette mx-auto">
            <div class="col @(i%2 == 0? "order-md-2" : string.Empty)">
                <h2 class="featurette-heading">@(descriptionOfUser.User.FirstName) @(descriptionOfUser.User.LastName)</h2>
                <p class="lead">@descriptionOfUser.Description</p>
            </div>
            <div class="col-auto @(i%2 == 0? "order-md-1" : string.Empty)">
                @{
                    var base64 = Convert.ToBase64String(descriptionOfUser.Image);
                    var imgSrc = $"data:image/gif;base64,{base64}";
                }

                <img class="featurette-image img-fluid mx-auto" alt="" style="width: 400px; height: 400px; object-fit: cover;" src="@imgSrc" data-holder-rendered="true">
            </div>
        </div>

        if (i != Model.Count())
        {
            <hr class="featurette-divider">
        }
        else
        {
            <div class="py-4"></div>
        }

    }

</div>