﻿@{
    ViewBag.Title = "Zarządzanie - Użytkownicy";
}

<script src="~/Scripts/gijgo/combined/gijgo.js" type="text/javascript"></script>

<h2>Użytkownicy</h2>
<hr />

<div class="container-fluid">
    <div class="row">
        <form class="form-inline w-100">
            <div class="col-2">
                <input id="txtID" type="number" min="1" placeholder="ID..." class="w-100 form-control mb-2 mr-sm-2 mb-sm-0" />
            </div>
            <div class="col">
                <input id="txtName" type="text" placeholder="Imię i nazwisko..." class="w-100 form-control mb-2 mr-sm-2 mb-sm-0"/>
            </div>
            <div class="col">
                <input id="txtEmail" type="text" placeholder="Email..." class="w-100 form-control mb-2 mr-sm-2 mb-sm-0"/>
            </div>
            <div class="col-auto h-100">
                <button id="btnSearch" type="button" class="h-100 btn btn-light btn-lg fa-lg fas fa-search"></button>
            </div>
            <div class="col-auto h-100">
                <button id="btnClear" type="button" class="h-100 btn btn-light btn-lg fa-lg fas fa-times"></button>
            </div>
        </form>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <table id="grid"></table>
        </div>
    </div>
</div>

<div id="dialog" style="display: none">
    <div data-role="body">
        <input type="hidden" id="ID" />
        <form>
            <div class="form-group">
                <label for="UserRoles">Rola użytkownika</label>
                <select id="UserRoles" width="100%"></select>
            </div>
        </form>
    </div>
    <div data-role="footer">
        <button type="button" id="btnSave" class="btn btn-primary float-right">Zapisz</button>
    </div>
</div>

<div id="dialogDetails" style="display: none">
    <p>Data dołączenia <strong id="DateCreated"></strong></p>
    <p>Status <strong id="Status"></strong></p>
    <p>Uprawnienia <strong id="Role"></strong></p>
    <br />
    <p>Data urodzenia <strong id="DateOfBirth"></strong></p>
    <p>Płeć <strong id="Gender"></strong></p>
    <p>Adres e-mail <strong id="Email"></strong></p>
    <p>Numer telefonu <strong id="PhoneNumber"></strong></p>
</div>

<div class="py-3"></div>

<script type="text/javascript">
        var grid, dialog, dialogDetails;
        function Edit(e) {
            $('#ID').val(e.data.id);
            userRolesDropdown.value(e.data.record.UserRoleID);
            dialog.open('Zmiana roli użytkownika ' + e.data.record.Email);
        }
        function Save() {
            var record = {
                UserID: $('#ID').val(),
                UserRoleID: userRolesDropdown.value()
            };
            $.ajax({ url: '@Url.Action("EditRoleUser", "Account", new { area = "Management" })', data: record, method: 'POST' })
                .done(function () {
                    dialog.close();
                    grid.reload();
                })
                .fail(function () {
                    alert('Nie udało się zapisać zmian.');
                    dialog.close();
                });
        }
        function Details(e) {
            $('#DateCreated').text(e.data.record.DateCreated);
            $('#Status').text(e.data.record.IsEmailVerified ? 'Aktywny' : 'Nieaktywny');
            $('#Role').text(e.data.record.UserRoleName);
            $('#DateOfBirth').text(e.data.record.DateOfBirth);
            $('#Gender').text(e.data.record.Male ? 'Mężczyzna' : 'Kobieta');
            $('#Email').text(e.data.record.Email);
            $('#PhoneNumber').text(e.data.record.PhoneNumber);
            dialogDetails.open('Szczegóły użytkownika ' + e.data.record.FirstName + ' ' + e.data.record.LastName);
        }
        $(document).ready(function () {
            grid = $('#grid').grid({
                primaryKey: 'UserID',
                dataSource: '@Url.Action("GetUsers", "Account", new { area = "Management" })',
                uiLibrary: 'bootstrap4',
                columns: [
                    { field: 'UserID', title: 'ID', sortable: true, width: 60 },
                    { field: 'FirstName', title: 'Imię', sortable: true },
                    { field: 'LastName', title: 'Nazwisko', sortable: true },
                    { field: 'Email', title: 'E-mail', sortable: true },
                    { field: 'DateCreated', title: 'Data założenia', width: 135, sortable: true, type: 'date', format: 'dd.mm.yyyy HH:mm' },
                    { field: 'DateOfBirth', hidden: true, type: 'date', format: 'dd.mm.yyyy' },
                    { field: 'IsEmailVerified', title: 'Aktywny', width: 90, type: 'checkbox', align: 'center' },
                    { field: 'UserRoleName', title: 'Rola', width: 120, sortable: true },
                    { title: '', field: 'Detail', width: 55, align: 'center', type: 'icon', icon: 'btn btn-info btn-xs fa-xs fas fa-info', tooltip: 'Zobacz szczegóły', events: { 'click': Details } },
                    { title: '', field: 'Edit', width: 63, align: 'center', type: 'icon', icon: 'btn btn-primary btn-xs fa-xs fas fa-edit', tooltip: 'Zmień rolę', events: { 'click': Edit } }
                ],
                pager: { limit: 10 }
            });
            dialog = $('#dialog').dialog({
                autoOpen: false,
                resizable: false,
                uiLibrary: 'bootstrap4',
                modal: true,
                width: 550,
                height: 280,
                draggable: false
            });
            dialogDetails = $('#dialogDetails').dialog({
                autoOpen: false,
                resizable: false,
                uiLibrary: 'bootstrap4',
                modal: true,
                width: 550,
                height: 380,
                draggable: false
            });
            userRolesDropdown = $('#UserRoles').dropdown({ uiLibrary: 'bootstrap4', dataSource: '@Url.Action("GetUserRoles", "Account", new { area = "Management" })', valueField: 'UserRoleID', textField: 'Name' });
            $('#btnSave').on('click', Save);
            $('#btnCancel').on('click', function () {
                dialog.close();
            });
            $('#btnSearch').on('click', function () {
                grid.reload({ page: 1, name: $('#txtName').val(), email: $('#txtEmail').val(), id: $('#txtID').val() });
            });
            $('#btnClear').on('click', function () {
                $('#txtID').val('');
                $('#txtName').val('');
                $('#txtEmail').val('');
                grid.reload({ name: '', email: '', id: '' });
            });
        });
</script>

