﻿@model FitnessClubApp.Model.PurchasedSubscription

@{
    ViewBag.Title = "Historia wejść";
}

<script src="~/Scripts/gijgo/combined/gijgo.js" type="text/javascript"></script>

<div class="view-content">
    <h2 class="d-inline">Historia wejść do klubu <small>z ostatnich 30 dni</small></h2>

    <hr />

    <div>
        <table id="grid"></table>
    </div>

    <div class="py-3"></div>
</div>

<script type="text/javascript">
        var grid;

        $(document).ready(function () {
            grid = $('#grid').grid({
                primaryKey: 'EntryID',
                dataSource: '@Url.Action("GetEntryHistory", "EntryHistory", new { area = "Membership" })',
                uiLibrary: 'bootstrap4',
                columns: [
                    { field: 'StartDate', title: 'Data', type: 'date', format: 'dd.mm.yyyy' },
                    { field: 'StartTime', title: 'Godzina wejścia', type: 'date', format: 'HH:MM' },
                    { field: 'EndDate', type: 'date', format: 'HH:MM', title: 'Godzina wyjścia' }
                ]
            });
        });
</script>


